<template>
    <div>
        <Hero />
        <Analytics />
        <Companies />
        <Steps />
        <QrTypes />
        <Coments />
        <Plan />
        <BasicConcepts />
        <Questions />
    </div>
</template>

<script>
import Hero from "@/components/public/main/Hero.vue";
import Analytics from "@/components/public/main/Analytics.vue";
import Companies from "@/components/public/main/Companies.vue";
import Steps from "@/components/public/main/Steps.vue";
import QrTypes from "@/components/public/main/QrTypes.vue";
import Coments from "@/components/public/main/Coments.vue";
import Plan from "@/components/public/main/Plan.vue";
import BasicConcepts from "@/components/public/main/BasicConcepts.vue";
import Questions from "@/components/public/main/Questions.vue";

export default {
    components: {
        Hero,
        Analytics,
        Companies,
        Steps,
        QrTypes,
        Coments,
        Plan,
        BasicConcepts,
        Questions,
    },

    mounted() {
        window.scroll(0, 0);
    },
};
</script>

<style></style>
