<template>
    <div class="d-flex">
        <div class="sidebar">
            <b-navbar
                variant="faded"
                type="light"
                style="margin-bottom: 40px"
                class="p-0"
            >
                <b-navbar-brand href="#">
                    <img
                        src="https://myqr.mobi/../images/logo-blue.png"
                        class="img-fluid"
                        alt="MyQR"
                        width="75"
                    />
                </b-navbar-brand>
            </b-navbar>

            <b-nav class="menuNav" vertical>
                <b-nav-item>
                    <span class="menu-icon">
                        <img
                            src="https://myqr.mobi/../images/slide-menu-icons/analysis.png"
                            class="img-fluid mb-1"
                            alt="Analysis"
                        />
                    </span>
                    <span>Analysis</span>
                </b-nav-item>

                <b-nav-item
                    :class="$route.name === 'qr_codes' ? 'activeClass' : ''"
                >
                    <span class="menu-icon">
                        <img
                            src="https://myqr.mobi/../images/slide-menu-icons/my_qr_codes.png"
                            class="img-fluid mb-1"
                            alt="My QR Codes"
                        />
                    </span>
                    <span>My QR Codes</span>
                </b-nav-item>
                <b-nav-item>
                    <span class="menu-icon">
                        <img
                            src="https://myqr.mobi/../images/slide-menu-icons/my_account.png"
                            class="img-fluid mb-1"
                            alt="My QR Codes"
                        />
                    </span>
                    <span>My Account</span>
                </b-nav-item>
                <b-nav-item>
                    <span class="menu-icon">
                        <img
                            src="https://myqr.mobi/../images/slide-menu-icons/plans_and_payments.png"
                            class="img-fluid mb-1"
                            alt="My QR Codes"
                        />
                    </span>
                    <span>Plans and payments</span>
                </b-nav-item>

                <hr
                    style="
                        border-top: 1px solid rgb(255 255 255 / 43%);
                        margin: 0px 1px;
                    "
                />

                <b-nav-item>
                    <span style="font-size: 18px; line-height: 22px"
                        >Company</span
                    >
                </b-nav-item>

                <hr
                    style="
                        border-top: 1px solid rgb(255 255 255 / 43%);
                        margin: 0px 1px;
                    "
                />

                <b-nav-item>
                    <span style="font-size: 18px; line-height: 22px">
                        Help
                    </span>
                </b-nav-item>

                <hr
                    style="
                        border-top: 1px solid rgb(255 255 255 / 43%);
                        margin: 0px 1px;
                    "
                />

                <b-nav-item>
                    <span class="menu-icon">
                        <img
                            src="https://myqr.mobi/../images/slide-menu-icons/logout.png"
                            class="img-fluid mb-1"
                            alt="My QR Codes"
                        />
                    </span>
                    <span>Log out</span>
                </b-nav-item>
            </b-nav>

            <img
                src="https://myqr.mobi/../images/user_default_new.svg"
                class="user-profile"
            />
        </div>
        <b-container class="content">
            <b-row style="margin-bottom: 40px">
                <b-col>
                    <h1 class="title">My QR Codes</h1>
                </b-col>
                <b-col class="float-right text-right">
                    <b-button>
                        <div
                            class="d-flex flex-row justify-content-between align-items-center"
                        >
                            <span
                                ><img
                                    src="https://myqr.mobi/../images/icons/create_qr-code.png"
                                    alt="Create QR"
                                    class="img-fluid"
                                    width="35"
                                    style="
                                        height: 35px;
                                        width: 35px;
                                        padding: 0px 8px;
                                        -o-object-fit: contain;
                                        object-fit: contain;
                                    "
                            /></span>
                            Create QR Code
                        </div>
                    </b-button>
                </b-col>
            </b-row>
        </b-container>
    </div>

    <!-- <router-view></router-view> -->
</template>

<script>
export default {};
</script>

<style>
.sidebar {
    background-color: #cfdde2;
    height: 100vh;
    width: 250px;
}

.menuNav {
    font-size: 18px;
    color: #ffffff;
    padding: 0px 25px !important;
}

.menuNav a {
    color: #ffffff;
}

.menuNav a:hover {
    color: #ffffff;
}

.menu-icon {
    height: 28px;
    width: 28px;
    -o-object-fit: contain;
    object-fit: contain;
    margin-right: 15px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.activeClass a {
    font-weight: 600;
    color: #41778a;
}

.activeClass a:hover {
    color: #41778a;
}

.activeClass a img {
    filter: invert(50%) sepia(60%) saturate(361%) hue-rotate(149deg)
        brightness(80%) contrast(84%);
}

.content {
    width: 100%;
    padding: 50px 80px !important;
}

.content .title {
    font-size: 28px;
    color: #41778a;
    font-weight: 600;
    line-height: 34px;
    text-align: left;
}
</style>
