<template>
    <b-container fluid class="privacyPolicy">
        <b-row>
            <b-col class="title">
                <p>Privacy Policy</p>
            </b-col>
        </b-row>
        <b-row class="text-center" style="color: #41778a; font-size: 20px">
            <b-col>
                <p>Last updated: Jul 15</p>
            </b-col>
        </b-row>
        <b-row>
            <b-col class="content" cols="12" md="8" offset-md="2">
                <p class="section">1. Responsible party and description</p>
                <p class="subsection">1.1. Responsable</p>
                <p>
                    The person responsible for the treatment of this site is
                    <b style="font-size: 15px; color: #41778a">
                        WORRY CAPITAL S.L.
                    </b>
                    (hereinafter MYQR or the Service), with address at
                    C/Rosselló, 184, 4-3 Barcelona (08008), Barcelona, Spain .
                </p>
                <p>NIF: B06944524</p>
                <p>Email: info@myqr.mobi</p>

                <p class="subsection">1.2. Description</p>
                <p>
                    Acceptance of the privacy policy of MYQR (hereinafter
                    "Privacy Policy"), is a necessary condition for the use of
                    our website and the provision of the service (hereinafter
                    the "Service").
                </p>
                <p>
                    This Privacy Policy regulates the collection, treatment and
                    use of your personal and non-personal information as a user
                    of MYQR , as of the effective date that appears in the
                    header.
                </p>
                <p>
                    To process your personal data, MYQR complies with current
                    local and European legislation, as well as its implementing
                    regulations.
                </p>

                <p class="section">2. Information collected</p>
                <p>
                    Access to our website can be done without the need to
                    provide any information, although to register and / or
                    contract our diet plans you will need to provide us with
                    some personal information. The information (personal or
                    non-personal) collected by the Service may vary based on
                    that.
                </p>
                <p>
                    The personal and non-personal information collected by the
                    Service will come to us in three ways: 1) that which is
                    collected automatically 2) that which you provide us
                    voluntarily and 3) that which is provided by third parties.
                </p>

                <p class="subsection">2.1. The one collected automatically</p>
                <p>This information will consist of:</p>
                <ul>
                    <li>
                        The one collected through cookies or similar mechanisms
                        stored on your device, always with your consent or in
                        accordance with other legal bases. Check our Cookies
                        Policy for more information.
                    </li>
                    <li>
                        The IP from which the connection is made, the type of
                        device used and its characteristics, the version of the
                        operating system, the type of browser, the language, the
                        date, the country, the time of the request, the URL from
                        the that you come from, the URL to which you go or the
                        mobile network used, among others.
                    </li>
                    <li>
                        Service use data and possible errors detected during its
                        use.
                    </li>
                    <li>
                        In addition, MYQR uses Google Analytics, an analytical
                        service provided by Google, LLC. domiciled in the United
                        States with headquarters at 1600 Amphitheater Parkway,
                        Mountain View, California 94043. For the provision of
                        these services, they use cookies that collect
                        information, including the user's IP address, which will
                        be transmitted, processed and stored by Google in the
                        terms established on the web www.google.com. Including
                        the possible transmission of said information to third
                        parties for reasons of legal requirement or when said
                        third parties process the information on behalf of
                        Google.
                    </li>
                </ul>
                <p>
                    In any case, you can disable Google Analytics cookies from
                    here.
                </p>

                <p class="subsection">2.2. The one you voluntarily provide</p>
                <p>This information will consist of:</p>
                <ul>
                    <li>
                        The personal information or not that you provide when
                        creating your diet such as sex, height, weight, age,
                        physical activity that you perform and habits, among
                        others.
                    </li>
                    <li>All data is mandatory.</li>
                    <li>
                        The one required by MYQR to complete your registration
                        on the web: name and surname, address and email, among
                        others.
                    </li>
                    <li>All data is mandatory.</li>
                    <li>
                        The information, personal or not, to complete the
                        contracting of the service such as your email address
                        and your credit or debit card number.
                    </li>
                    <li>
                        The information, personal or not, that the messages sent
                        through the contact or opinion channels established in
                        the Service may contain, for example your name and
                        email.
                    </li>
                </ul>

                <p class="subsection">2.3. The one provided by third parties</p>
                <p>This information will consist of:</p>
                <ul>
                    <li>
                        The one provided by payment systems or credit card
                        processors, such as the time of purchase or its amount.
                    </li>
                </ul>

                <p class="section">3. Rights and purposes</p>
                <p>
                    We inform you that the completion of the forms is voluntary.
                    However, if you do not fill in the required fields (usually
                    marked with an asterisk), the use of some functions of the
                    Service will not be possible or will be limited.
                </p>
                <p>
                    The personal data that you provide us will be incorporated
                    and processed in the Registry of Treatment Activities of
                    MYQR in order to be able to attend to your requests, provide
                    the requested service and keep you informed about matters
                    related to the activity of the company and its services.
                </p>
                <p>
                    You can exercise at any time the rights of access,
                    rectification, deletion, limitation of your treatment,
                    opposition and portability of your personal data by email
                    addressed to: info@myqr.mobi or the postal address:
                    C/Rosselló, 184, 4-3 Barcelona (08008) , Barcelona, Spain.
                </p>
                <p>
                    In both cases, you must identify yourself with your name and
                    surname, as well as a copy of your DNI or national ID, if
                    necessary. In the event that you have granted consent for a
                    specific purpose, you have the right to withdraw consent at
                    any time, without affecting the legality of the treatment
                    based on the consent prior to its withdrawal.
                </p>
                <p>
                    In addition, if you consider that there is a problem with
                    the way in which MYQR is handling your data, you can direct
                    your complaints to the data protection authority that
                    corresponds, being the Spanish Agency for Data Protection
                    the one indicated in the case of Spain.
                </p>

                <p class="section">4. Age</p>
                <p>
                    Regarding the use of the online service, you declare that
                    you are of legal age and that you have the necessary legal
                    capacity to be bound by this agreement and use the site in
                    accordance with its terms and conditions, which you fully
                    understand and acknowledge.
                </p>
                <p>
                    You declare that all the information you provide to access
                    the Service, before and during its use, is true, complete
                    and accurate.
                </p>

                <p class="section">5. Use of data</p>
                <p>MYQR will use the collected data to:</p>
                <ul>
                    <li>
                        Manage and update the Service (the legal basis being our
                        legitimate interest in maintaining and keeping the
                        Service up to date and in good condition).
                    </li>
                    <li>
                        Address the questions you raise (the legal basis being
                        our legitimate interest in attending to the requests and
                        doubts of our users).
                    </li>
                    <li>
                        Process the payments you make (the contract being the
                        legal basis).
                    </li>
                    <li>
                        Provide the contracted service (the contract being the
                        legal basis).
                    </li>
                    <li>
                        Maintain the security of the Service, investigate
                        illegal activities, enforce our terms and conditions and
                        help the state security forces in the framework of their
                        possible investigations (the legal basis being our
                        legitimate interest in guaranteeing and maintaining the
                        security of the Service and its users).
                    </li>
                </ul>
                <p>
                    MYQR does not use automated decisions, although it can
                    generate basic user profiles, the legal basis being our
                    legitimate interest for commercial purposes and providing
                    personalized offers.
                </p>
                <p>
                    Also, MYQR may use user information in the form of
                    aggregated and anonymous data to show it to third parties.
                    You may also share statistics and demographic information
                    about users and their use of the Service with third parties.
                    But none of this will allow those third parties to
                    personally identify you.
                </p>

                <p class="subsection">5.1. In emails and contact forms</p>
                <p>
                    The website has an SSL encryption that allows the user to
                    send their personal data securely through standard contact
                    forms.
                </p>
                <p>
                    The personal data collected will be subject to automated
                    processing and incorporated into the corresponding files of
                    the record of processing activities and of which MYQR is the
                    owner.
                </p>
                <p>In that sense:</p>
                <ul>
                    <li>
                        We will receive your IP address, which will be used to
                        verify the origin of the message in order to offer you
                        adequate recommendations (for example, present the
                        information in the correct language) and to detect
                        possible irregularities (for example, possible attempts
                        to cyberattack the Service), as well as data related to
                        your ISP.
                    </li>
                    <li>
                        Likewise, you can provide us with your data by phone,
                        email and other indicated means of communication.
                    </li>
                </ul>
                <p>Regarding the means of payment used:</p>
                <ul>
                    <li>
                        Our payment service providers to pay for the provision
                        of our services are credit or debit card. At no time
                        will the Service or its staff have access to the bank
                        details (for example, the credit card number) that the
                        user as a customer will provide to those third parties.
                    </li>
                </ul>

                <p class="section">6. Data retention</p>
                <p>
                    Below, they are indicated for how long the data processed by
                    the Service is kept:
                </p>
                <ul>
                    <li>
                        The disaggregated data will be kept without a deletion
                        period.
                    </li>
                    <li>
                        Customer data will be kept for the minimum necessary,
                        and may be kept until:
                    </li>
                    <li>
                        5 years, according to art. 1964 of the Civil Code
                        (personal actions without special term).
                    </li>
                    <li>
                        6 years, according to art. 30 of the Commercial Code
                        (accounting books or invoices, for example).
                    </li>
                    <li>
                        User data will be kept for a maximum period of 12 months
                        to be able to attend to their requests.
                    </li>
                </ul>

                <p class="section">7. Data shared with third parties</p>
                <p>There are third parties that manage part of the Service.</p>
                <p>
                    MYQR requires them to comply with this Privacy Policy as
                    applicable, in addition to having their own. However, MYRQ
                    will not be responsible for compliance with said policy.
                </p>
                <p>
                    Under some circumstances, MYQR may share, use, or preserve
                    with third parties any of the personal information
                    collected:
                </p>
                <p>
                    Service providers that perform functions on our behalf, such
                    as payment services, web hosting, business analytics,
                    customer service, or web marketing. These service providers
                    may collect and have access to the information that is
                    necessary for them to perform their functions, but they are
                    not allowed to share or use the information for any other
                    purpose.
                </p>
                <ul>
                    <li>To provide the Service:</li>
                    <li>To cooperate with the competent authorities:</li>
                </ul>
                <p>
                    If we believe it is reasonably necessary to satisfy any law,
                    legal process or legitimate interest. In any case, we will
                    only provide the information strictly required.
                </p>

                <p class="section">8. Security measures</p>
                <p>
                    MYQR adopts all the technical and organizational measures
                    necessary to protect the security and integrity of personal
                    and non-personal information collected. Both against
                    unauthorized access and its accidental alteration, loss or
                    destruction.
                </p>
                <p>
                    In any case, MYQR cannot guarantee the absolute security of
                    the information collected, so you must collaborate and use
                    common sense about the information shared at all times.
                </p>
                <p>
                    You understand and acknowledge that, even after deletion,
                    personal and non-personal information may remain visible in
                    cache or if other users have copied or stored it.
                </p>

                <p class="section">9. Changes to the Privacy Policy</p>
                <p>
                    We may update this Privacy Policy in the future. We will
                    inform you of its changes by sending a notice to the email
                    address provided and / or by placing a notice in a prominent
                    place on our website.
                </p>

                <p class="section">10. Contact</p>
                <p>
                    If you have questions about this Privacy Policy, contact us
                    at:
                </p>
                <p>E-mail: info@myqr.mobi</p>
                <p>
                    Address: C/Rosselló, 184, 4-3 Barcelona (08008). Barcelona,
                    Spain.
                </p>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
export default {
    mounted() {
        window.scroll(0, 0);
    },
};
</script>

<style scoped>
.privacyPolicy {
    background-color: #cfdde2;
}

.title {
    text-align: center;
    color: #41778a;
    font-size: 50px;
    font-weight: 700;
    margin-top: 100px;
}

.content {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 70px 70px 70px 70px;
    color: #878686 !important;
    font-size: 18px !important;
    margin-top: 80px;
    margin-bottom: 90px;
}

.content ul {
    color: #878686;
    font-size: 18px;
    padding: 0px !important;
    list-style: inside;
}

.content ul li {
    padding-bottom: 4px !important;
    padding-top: 0px !important;
}

.content .section {
    color: #41778a;
    font-size: 30px;
    font-weight: 500;
    margin-top: 40px;
}

.content .subsection {
    color: #41778a;
    font-size: 24px;
    font-weight: 500;
    margin-top: 40px;
}
</style>
