<template>
    <div class="analytics">
        <b-container>
            <b-row class="text-center">
                <b-col>
                    <img
                        src="https://myqr.mobi/images/icon1.png"
                        alt="1"
                        width="115"
                    />
                    <p class="analyticsCaption">
                        Analytical
                        <br />
                        tracking
                    </p>
                </b-col>
                <b-col>
                    <img
                        src="https://myqr.mobi/images/icon2.png"
                        alt="2"
                        width="115"
                    />
                    <p class="analyticsCaption">
                        Choose your
                        <br />
                        design
                    </p>
                </b-col>
                <b-col>
                    <img
                        src="https://myqr.mobi/images/icon3.png"
                        alt="3"
                        width="115"
                    />
                    <p class="analyticsCaption">
                        Dynamise and
                        <br />
                        edit your QR
                    </p>
                </b-col>
            </b-row>

            <b-row
                class="text-center"
                style="font-size: 50px; margin-top: 70px; color: #41778a"
            >
                <b-col>
                    <span>
                        <b>Stand out from your competition with MYQR</b>
                    </span>
                </b-col>
            </b-row>
            <b-row class="text-center" style="font-size: 25px; color: #41778a">
                <b-col>
                    <span>
                        Do you want to create your own personalised QR code with
                        endless tools to boost your idea? Our QR generator is
                        the best option for this. Thanks to our work to
                        facilitate the development and the wide range of tools
                        we offer to make your ideas come true or get your
                        business to expand. What are you waiting for?
                    </span>
                </b-col>
            </b-row>

            <b-row style="margin-top: 70px">
                <b-col cols="12" md="6" class="">
                    <div class="ventajasQr">
                        <img
                            src="https://myqr.mobi/images/check.png"
                            alt="check"
                        />
                        <span class="ml-4">Create your QR unlimited.</span>
                    </div>
                </b-col>
                <b-col cols="12" md="6">
                    <div class="ventajasQr">
                        <img
                            src="https://myqr.mobi/images/check.png"
                            alt="check"
                        />
                        <span class="ml-4"
                            >Advanced analytics system to optimise your QR
                            codes.</span
                        >
                    </div>
                </b-col>
                <b-col cols="12" md="6">
                    <div class="ventajasQr">
                        <img
                            src="https://myqr.mobi/images/check.png"
                            alt="check"
                        />
                        <span class="ml-4"
                            >Dynamic QR codes, manage or edit them as you
                            wish.</span
                        >
                    </div>
                </b-col>
                <b-col cols="12" md="6">
                    <div class="ventajasQr">
                        <img
                            src="https://myqr.mobi/images/check.png"
                            alt="check"
                        />
                        <span class="ml-4">CSV/XLSX data export.</span>
                    </div>
                </b-col>
                <b-col cols="12" md="6">
                    <div class="ventajasQr">
                        <img
                            src="https://myqr.mobi/images/check.png"
                            alt="check"
                        />
                        <span class="ml-4"
                            >Design tool to customize your code.</span
                        >
                    </div>
                </b-col>
                <b-col cols="12" md="6">
                    <div class="ventajasQr">
                        <img
                            src="https://myqr.mobi/images/check.png"
                            alt="check"
                        />
                        <span class="ml-4"
                            >Different formats to download your QR codes.</span
                        >
                    </div>
                </b-col>
            </b-row>

            <b-row class="text-center" style="margin-top: 50px">
                <b-col>
                    <b-button class="buttonDesignQr">
                        Generate <b>QR</b>
                    </b-button>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
export default {};
</script>

<style>
.analytics {
    background-color: #ffffff;
    padding-top: 120px;
    padding-bottom: 100px;
}

.text-analytics {
    color: #41778a;
    font-size: 50px;
}

.buttonDesignQr {
    background-color: #41778a !important;
    color: #ffffff !important;
    font-size: 25px !important;
    border-style: none !important;
    padding: 15px 80px !important;
    border-radius: 10px !important;
}

.analyticsCaption {
    text-align: center;
    font-size: 30px;
    margin-top: 12px;
    color: #41778a;
}

.ventajasQr {
    padding: 30px 20px;
    background-color: #cfdde2;
    font-size: 20px;
    font-weight: 700;
    color: #41778a;
    border-radius: 25px;
    margin-top: 25px;
}
</style>
