<template>
    <div class="basic_concepts">
        <b-container>
            <b-row class="title">
                <b-col style="font-size: 50px">
                    <p>
                        <b>Basic concepts of a QR Code</b>
                    </p>
                </b-col>
            </b-row>

            <b-row>
                <b-col>
                    <b-row class="mt-5">
                        <b-col cols="12">
                            <b-row>
                                <b-col
                                    cols="12"
                                    md="11"
                                    class="basicConcept"
                                    v-b-toggle.collapse-1
                                >
                                    <span class="titleConcept">
                                        What is the use of QR codes?
                                    </span>
                                    <b-button
                                        variant="primary"
                                        class="mb-2 ml-4 float-right"
                                    >
                                        B
                                    </b-button>
                                    <b-collapse id="collapse-1" class="mt-2">
                                        <p class="mt-5" style="color: black">
                                            Simply put, they are used to store
                                            information and disseminate it in an
                                            instant, simple and even creative
                                            way. However, their use is
                                            associated only with the consumer
                                            and not so much with the seller. But
                                            we must be clear that in addition to
                                            disseminating information, it is
                                            also a great source of feedback.
                                        </p>
                                    </b-collapse>
                                </b-col>
                            </b-row>
                        </b-col>

                        <b-col cols="12" class="mt-5">
                            <b-row>
                                <b-col
                                    cols="12"
                                    md="11"
                                    class="basicConcept"
                                    v-b-toggle.collapse-3
                                >
                                    <span class="titleConcept">
                                        How do you read a QR code?
                                    </span>
                                    <b-button
                                        variant="primary"
                                        class="mb-2 ml-4 float-right"
                                    >
                                        B
                                    </b-button>
                                    <b-collapse id="collapse-3" class="mt-2">
                                        <p class="mt-5" style="color: black">
                                            Open the camera application on your
                                            device. Focus on the QR code: you
                                            will see that the content of the
                                            code appears on a small card (top
                                            area of the screen). Tap on the card
                                            and your device will open the
                                            content hidden in the QR code.
                                        </p>
                                    </b-collapse>
                                </b-col>
                            </b-row>
                        </b-col>

                        <b-col cols="12" class="mt-5">
                            <b-row>
                                <b-col
                                    cols="12"
                                    md="11"
                                    class="basicConcept"
                                    v-b-toggle.collapse-5
                                >
                                    <span class="titleConcept">
                                        What is a QR code?
                                    </span>
                                    <b-button
                                        variant="primary"
                                        class="mb-2 ml-4 float-right"
                                    >
                                        B
                                    </b-button>
                                    <b-collapse id="collapse-5" class="mt-2">
                                        <p class="mt-5" style="color: black">
                                            Like any other barcode, a QR code is
                                            intended to store information on an
                                            optical label that is readable by
                                            some kind of machine or device.
                                        </p>
                                    </b-collapse>
                                </b-col>
                            </b-row>
                        </b-col>
                    </b-row>
                </b-col>

                <b-col>
                    <b-row class="mt-5">
                        <b-col cols="12">
                            <b-row>
                                <b-col
                                    cols="12"
                                    md="11"
                                    class="basicConcept"
                                    v-b-toggle.collapse-2
                                >
                                    <span class="titleConcept">
                                        What is the difference between a static
                                        and a dynamic QR?
                                    </span>
                                    <b-button
                                        variant="primary"
                                        class="mb-2 ml-4"
                                    >
                                        B
                                    </b-button>
                                    <b-collapse id="collapse-2" class="mt-2">
                                        <p class="mt-5" style="color: black">
                                            The main difference between a static
                                            and a dynamic QR Code is that static
                                            QR Codes do not allow modifications
                                            once they have been generated. This
                                            means that you will only have this
                                            scannable code to redirect to a
                                            single link. Dynamic QR Codes, on
                                            the other hand, can be edited at any
                                            time. This is why at MYQR we work
                                            exclusively with dynamic QR codes.
                                        </p>
                                    </b-collapse>
                                </b-col>
                            </b-row>
                        </b-col>

                        <b-col cols="12" class="mt-5">
                            <b-row>
                                <b-col
                                    cols="12"
                                    md="11"
                                    class="basicConcept"
                                    v-b-toggle.collapse-4
                                >
                                    <span class="titleConcept">
                                        How can I generate my own QR code?
                                    </span>
                                    <b-button
                                        variant="primary"
                                        class="mb-2 ml-4"
                                    >
                                        B
                                    </b-button>
                                    <b-collapse id="collapse-4" class="mt-2">
                                        <p class="mt-5" style="color: black">
                                            There are a very limited number of
                                            platforms that provide QR codes for
                                            consumers, yet we are unique in the
                                            industry. With MYQR you can not only
                                            generate custom QR codes, but you
                                            can also edit them to your liking
                                            whenever you want, track them to
                                            optimise your business, and perform
                                            daily analytics tracking.
                                        </p>
                                    </b-collapse>
                                </b-col>
                            </b-row>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
export default {
    data: () => ({}),
};
</script>

<style>
.basic_concepts {
    background-color: #cfdde2;
    padding-top: 130px;
    padding-bottom: 100px;
    color: #41778a;
}

.text-basic_concepts {
    color: #41778a;
    font-size: 50px;
}

.basicConcept {
    background-color: #ffffff;
    border-radius: 22px;
    padding: 25px 25px 25px 25px;
}

.titleConcept {
    font-size: 30px;
    color: #41778a;
}
</style>
