<template>
    <div class="coments">
        <b-container>
            <b-row class="title">
                <b-col style="font-size: 50px">
                    <p><b>What they think of MYQR</b></p>
                </b-col>
            </b-row>

            <b-row class="mt-5">
                <b-col>
                    <carousel
                        :per-page="3"
                        :loop="true"
                        :autoplay="true"
                        :autoplayTimeout="3000"
                        :minSwipeDistance="1"
                        :speed="1000"
                    >
                        <slide v-for="(slide, index) in slides" :key="index">
                            <b-container>
                                <div class="slide shadow-sm">
                                    <b-row class="text-center">
                                        <b-col class="mt-2 text-center">
                                            <b-form-rating
                                                id="rating-lg-no-border"
                                                no-border
                                                v-model="slide.ranking"
                                                size="lg"
                                                color="#ff8800"
                                                :readonly="true"
                                                style="
                                                    width: 250px;
                                                    margin-left: 45px;
                                                "
                                            ></b-form-rating>
                                        </b-col>
                                    </b-row>
                                    <b-row class="text-center">
                                        <b-col style="font-size: 16px">
                                            <b>{{ slide.name }}</b>
                                        </b-col>
                                    </b-row>
                                    <b-row class="text-center p-4">
                                        <b-col style="font-size: 14px">
                                            {{ slide.description }}
                                        </b-col>
                                    </b-row>
                                </div>
                            </b-container>
                        </slide>
                    </carousel>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
export default {
    data: () => ({
        slides: [
            {
                ranking: 5,
                name: "Michael F.",
                description:
                    "We wanted to give my father a photo album but we discovered this platform and created a QR for him to access all the photos just by putting the mobile camera on top of the code. He loved it !",
            },
            {
                ranking: 5,
                name: "Charles C.",
                description:
                    "I added a QR in my personal card of my company and thanks to it I can see the statistics of the scans that I have monthly and from where. I find it very practical.",
            },
            {
                ranking: 5,
                name: "Joseph L.",
                description:
                    "Highly recommended, configure the code to my liking so that people who enter my hostel could connect to the wifi without asking me for the password.",
            },
            {
                ranking: 5,
                name: "John Campbell",
                description:
                    "I was in a hurry and needed a qr code for my CV, just to do things differently, I surfed the net and found this site. Configure everything to my liking in a few minutes, I recommend.",
            },
            {
                ranking: 5,
                name: "Kelly F",
                description:
                    "Super easy to use. I like the range of options to create a QR code. They can be simple or very professional.",
            },
            {
                ranking: 4,
                name: "Agathe Pedersen",
                description:
                    "I love being able to edit the menu of the day that I offer in my restaurant in such an easy way. I used to spend a lot of paper every week to print the letter.",
            },
        ],
    }),

    components: {
        Carousel,
        Slide,
    },
};
</script>

<style>
.coments {
    background-color: #cfdde2;
    padding-top: 130px;
    padding-bottom: 100px;
    color: #41778a;
}

.text-coments {
    color: #41778a;
    font-size: 50px;
}

.slide {
    background-color: #ffffff;
    border-radius: 28px !important;
    min-height: 250px;
}
</style>
