<template>
    <div class="companies">
        <b-container>
            <b-row class="text-center">
                <b-col cols="12" md="7">
                    <b-row>
                        <b-col cols="2" class="mr-3">
                            <img
                                src="https://myqr.mobi/images/our_partner/philips.png"
                                alt="our partner"
                                width="100"
                            />
                        </b-col>
                        <b-col cols="2" class="mr-3">
                            <img
                                src="https://myqr.mobi/images/our_partner/Tesla.png"
                                alt="our partner"
                                width="100"
                            />
                        </b-col>
                        <b-col cols="2" class="mr-3">
                            <img
                                src="https://myqr.mobi/images/our_partner/mcdonalds.png"
                                alt="our partner"
                                width="100"
                            />
                        </b-col>
                        <b-col cols="2" class="mr-3">
                            <img
                                src="https://myqr.mobi/images/our_partner/walmart.png"
                                alt="our partner"
                                width="100"
                            />
                        </b-col>
                        <b-col cols="2" class="mr-3">
                            <img
                                src="https://myqr.mobi/images/our_partner/nasa.png"
                                alt="our partner"
                                width="100"
                            />
                        </b-col>
                    </b-row>
                    <b-row class="mt-4">
                        <b-col cols="2" class="mr-3">
                            <img
                                src="https://myqr.mobi/images/our_partner/volkswagen.png"
                                alt="our partner"
                                width="100"
                            />
                        </b-col>
                        <b-col cols="2" class="mr-3">
                            <img
                                src="https://myqr.mobi/images/our_partner/Remax.png"
                                alt="our partner"
                                width="100"
                            />
                        </b-col>
                        <b-col cols="2" class="mr-3">
                            <img
                                src="https://myqr.mobi/images/our_partner/hilton.png"
                                alt="our partner"
                                width="100"
                            />
                        </b-col>
                        <b-col cols="2" class="mr-3">
                            <img
                                src="https://myqr.mobi/images/our_partner/man_power.png"
                                alt="our partner"
                                width="100"
                            />
                        </b-col>
                        <b-col cols="2" class="mr-3">
                            <img
                                src="https://myqr.mobi/images/our_partner/ogilvy.png"
                                alt="our partner"
                                width="100"
                            />
                        </b-col>
                    </b-row>
                    <b-row class="mt-4">
                        <b-col cols="2" class="mr-3">
                            <img
                                src="https://myqr.mobi/images/our_partner/amazon.png"
                                alt="our partner"
                                width="100"
                            />
                        </b-col>
                        <b-col cols="2" class="mr-3">
                            <img
                                src="https://myqr.mobi/images/our_partner/lego.png"
                                alt="our partner"
                                width="100"
                            />
                        </b-col>
                        <b-col cols="2" class="mr-3">
                            <img
                                src="https://myqr.mobi/images/our_partner/inditex.png"
                                alt="our partner"
                                width="100"
                            />
                        </b-col>
                        <b-col cols="2" class="mr-3">
                            <img
                                src="https://myqr.mobi/images/our_partner/ikea_nuevo.png"
                                alt="our partner"
                                width="100"
                            />
                        </b-col>
                        <b-col cols="2" class="mr-3">
                            <img
                                src="https://myqr.mobi/images/our_partner/apple.png"
                                alt="our partner"
                                width="100"
                            />
                        </b-col>
                    </b-row>
                    <b-row class="mt-4">
                        <b-col cols="2" class="mr-3">
                            <img
                                src="https://myqr.mobi/images/our_partner/nike.png"
                                alt="our partner"
                                width="100"
                            />
                        </b-col>
                        <b-col cols="2" class="mr-3">
                            <img
                                src="https://myqr.mobi/images/our_partner/coca_cola.png"
                                alt="our partner"
                                width="100"
                            />
                        </b-col>
                        <b-col cols="2" class="mr-3">
                            <img
                                src="https://myqr.mobi/images/our_partner/four_seasons.png"
                                alt="our partner"
                                width="100"
                            />
                        </b-col>
                        <b-col cols="2" class="mr-3">
                            <img
                                src="https://myqr.mobi/images/our_partner/whatsapp.png"
                                alt="our partner"
                                width="100"
                            />
                        </b-col>
                        <b-col cols="2" class="mr-3">
                            <img
                                src="https://myqr.mobi/images/our_partner/Netflix.png"
                                alt="our partner"
                                width="100"
                            />
                        </b-col>
                    </b-row>
                </b-col>
                <b-col
                    style="font-size: 50px; color: #41778a"
                    class="text-left"
                >
                    <p>
                        <b> Companies that trust in QR technology </b>
                    </p>
                    <b-button class="buttonDesignQr">
                        Create <b>QR</b>
                    </b-button>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
export default {};
</script>

<style>
.companies {
    background-color: #ffffff;
    padding-top: 50px;
    padding-bottom: 100px;
}

.text-companies {
    color: #41778a;
    font-size: 50px;
}

.buttonDesignQr {
    background-color: #41778a !important;
    color: #ffffff !important;
    font-size: 25px !important;
    border-style: none !important;
    padding: 15px 80px !important;
    border-radius: 10px !important;
}

.companiesCaption {
    text-align: center;
    font-size: 30px;
    margin-top: 12px;
    color: #41778a;
}

.ventajasQr {
    padding: 30px 20px;
    background-color: #cfdde2;
    font-size: 20px;
    font-weight: 700;
    color: #41778a;
    border-radius: 25px;
    margin-top: 25px;
}
</style>
