<template>
    <div class="hero">
        <b-container fluid style="padding-left: 120px">
            <b-row>
                <b-col style="max-width: 465.58px" class="text-hero p-0 m-0">
                    <b-row>
                        <b-col>
                            <b style="font-weight: 700">
                                Design, manage and track your QR
                            </b>
                            on a single platform.
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col>
                            <p
                                style="font-size: 25px; font-weight: 400"
                                class="mt-3"
                            >
                                We present you the easiest, most useful and
                                fastest way to manage your QR codes.
                            </p>
                        </b-col>
                    </b-row>
                    <b-row>
                        <b-col>
                            <b-button class="buttonDesignQr">
                                Design <b>QR</b> ->
                            </b-button>
                        </b-col>
                    </b-row>
                </b-col>
                <b-col style="max-width: 100%">
                    <img
                        src="https://myqr.mobi/images/Diseny.png"
                        alt="banner image"
                        class="img-fluid"
                        width="700"
                    />
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
export default {};
</script>

<style>
.hero {
    background-color: #cfdde2;
    height: 85vh;
    padding-top: 120px;
}

.text-hero {
    color: #41778a;
    font-size: 50px;
}

.buttonDesignQr {
    background-color: #41778a !important;
    color: #ffffff !important;
    font-size: 25px !important;
    border-style: none !important;
    padding: 15px 80px !important;
    border-radius: 10px !important;
}
</style>
