<template>
    <div class="plan">
        <b-container>
            <b-row class="text-left" style="color: #ffffff !important">
                <b-col style="font-size: 50px">
                    <p>
                        <b>Access to all the</b> <br />
                        advantages of MYQR
                    </p>

                    <ul class="ml-5">
                        <li>
                            <img
                                src="https://myqr.mobi/images/checklight.png"
                                alt="check"
                            />
                            <span class="ml-4">Dynamic QR design.</span>
                        </li>
                        <li>
                            <img
                                src="https://myqr.mobi/images/checklight.png"
                                alt="check"
                            />
                            <span class="ml-4">Unlimited scans.</span>
                        </li>
                        <li>
                            <img
                                src="https://myqr.mobi/images/checklight.png"
                                alt="check"
                            />
                            <span class="ml-4">Complete QR analytics.</span>
                        </li>
                        <li>
                            <img
                                src="https://myqr.mobi/images/checklight.png"
                                alt="check"
                            />
                            <span class="ml-4">QR editing and management</span>
                        </li>
                        <li>
                            <img
                                src="https://myqr.mobi/images/checklight.png"
                                alt="check"
                            />
                            <span class="ml-4">CSV/XLSX data export.</span>
                        </li>
                        <li>
                            <img
                                src="https://myqr.mobi/images/checklight.png"
                                alt="check"
                            />
                            <span class="ml-4"
                                >Variety of download formats.</span
                            >
                        </li>
                    </ul>
                </b-col>
                <b-col
                    style="
                        background-color: #ffffff;
                        border-radius: 50px;
                        color: black;
                    "
                    class="text-center"
                    cols="12"
                    md="5"
                >
                    <b-container>
                        <b-row class="mt-5" style="margin-top: 10px">
                            <b-col>
                                <img
                                    src="https://myqr.mobi/images/subscription.png"
                                    alt="subscription image"
                                />
                            </b-col>
                        </b-row>

                        <b-row class="mt-3">
                            <b-col style="font-size: 20px">
                                Enable all your QR designs by choosing the 14
                                day trial plan.
                            </b-col>
                        </b-row>

                        <b-row class="mt-3">
                            <b-col
                                style="
                                    font-size: 40px;
                                    color: #41778a;
                                    font-weight: 700;
                                "
                            >
                                0,50 €
                            </b-col>
                        </b-row>

                        <b-row class="mt-3">
                            <b-col style="font-size: 20px">
                                All our plans include chat and email support and
                                high quality QR codes for printing.
                            </b-col>
                        </b-row>

                        <b-row class="mt-3">
                            <b-col style="font-size: 20px">
                                Afterwards your subscription will be renewed to
                                the yearly plan if not cancelled for 225,00
                                €/year.
                            </b-col>
                        </b-row>

                        <b-row
                            class="text-center"
                            style="margin-top: 80px; margin-bottom: 80px"
                        >
                            <b-col>
                                <b-button class="buttonDesignQr">
                                    More information
                                </b-button>
                            </b-col>
                        </b-row>
                    </b-container>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
import { Carousel, Slide } from "vue-carousel";
export default {
    data: () => ({
        slides: [
            {
                ranking: 5,
                name: "Michael F.",
                description:
                    "We wanted to give my father a photo album but we discovered this platform and created a QR for him to access all the photos just by putting the mobile camera on top of the code. He loved it !",
            },
            {
                ranking: 5,
                name: "Charles C.",
                description:
                    "I added a QR in my personal card of my company and thanks to it I can see the statistics of the scans that I have monthly and from where. I find it very practical.",
            },
            {
                ranking: 5,
                name: "Joseph L.",
                description:
                    "Highly recommended, configure the code to my liking so that people who enter my hostel could connect to the wifi without asking me for the password.",
            },
            {
                ranking: 5,
                name: "John Campbell",
                description:
                    "I was in a hurry and needed a qr code for my CV, just to do things differently, I surfed the net and found this site. Configure everything to my liking in a few minutes, I recommend.",
            },
            {
                ranking: 5,
                name: "Kelly F",
                description:
                    "Super easy to use. I like the range of options to create a QR code. They can be simple or very professional.",
            },
            {
                ranking: 4,
                name: "Agathe Pedersen",
                description:
                    "I love being able to edit the menu of the day that I offer in my restaurant in such an easy way. I used to spend a lot of paper every week to print the letter.",
            },
        ],
    }),

    components: {
        Carousel,
        Slide,
    },
};
</script>

<style>
.plan {
    background-color: #41778a;
    padding-top: 130px;
    padding-bottom: 100px;
    color: #41778a;
}

.text-plan {
    color: #41778a;
    font-size: 50px;
}

.slide {
    background-color: #ffffff;
    border-radius: 28px !important;
    min-height: 250px;
}
</style>
