<template>
    <div class="qr_types">
        <b-container>
            <b-row class="title">
                <b-col style="font-size: 50px">
                    <p>
                        <b>
                            Create, manage and
                            <br />
                            analyse your QR
                        </b>
                    </p>
                </b-col>
            </b-row>
            <b-row class="text-center mt-1" style="font-size: 25px">
                <b-col>
                    <span style="color: rgba(65, 119, 138, 0.7)">
                        A single QR code can redirect to any kind of digital
                        content, they offer a wide range of options and MYQR
                        offers them all.
                    </span>
                </b-col>
            </b-row>

            <b-container style="margin-top: 40px; width: 90%">
                <b-row>
                    <b-col
                        v-for="(tipo, index) in tiposQr"
                        :key="index"
                        class="mt-3 text-center"
                    >
                        <b-button
                            style="height: 158.69px; width: 153.3px"
                            class="typeQrButton"
                            :active.sync="tipo.activo"
                            aria-pressed="true"
                            :pressed.sync="tipo.activo"
                            active-class="typeQrButtonActive"
                            @click="indexTipoQr = index"
                        >
                            <img
                                :src="tipo.img"
                                :alt="tipo.nombre"
                                width="120"
                            />
                            <br />
                            <span>{{ tipo.nombre }}</span>
                        </b-button>
                    </b-col>
                </b-row>

                <b-row style="margin-top: 120px" class="descripcionActive">
                    <b-col col="6">
                        <b-img-lazy
                            :src="tiposQr[indexTipoQr].imgTipo"
                            width="399.25"
                        ></b-img-lazy>
                    </b-col>
                    <b-col col="6" style="color: black" class="mt-4">
                        <p style="font-size: 40px">
                            <b>{{ tiposQr[indexTipoQr].nombre }}</b>
                        </p>
                        <p style="font-size: 20px">
                            {{ tiposQr[indexTipoQr].descripcion }}
                        </p>

                        <b-row class="text-center mt-5">
                            <b-col>
                                <b-button class="buttonDesignQr" block>
                                    Generate <b>QR</b>
                                </b-button>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
            </b-container>
        </b-container>
    </div>
</template>

<script>
export default {
    data: () => ({
        indexTipoQr: 0,
        tiposQr: [
            {
                img: "https://myqr.mobi/images/menu_icons/menu.png",
                nombre: "Menu",
                activo: true,
                descripcion:
                    "Do you have a bar or a restaurant? With MYQR you won't have to invest in printing menus constantly every time you need to modify a dish.",
                imgTipo:
                    "https://myqr.mobi/images/static_home_preview_images/en_menu.png",
            },
            {
                img: "https://myqr.mobi/images/menu_icons/vcard_plus.png",
                nombre: "Vcard Plus",
                activo: false,
                descripcion:
                    "Take your business card to the next level with a QR code. Share more information about your profile and your company in an innovative and unique way. And the best of all, change the information in the QR code whenever you need to.",
                imgTipo:
                    "https://myqr.mobi/images/static_home_preview_images/en_vcard.png",
            },
            {
                img: "https://myqr.mobi/images/menu_icons/business.png",
                nombre: "Business",
                activo: false,
                descripcion:
                    "Share your business information easily and quickly with everyone: hours, location, contact and all the information that may be of interest to potential customers.",
                imgTipo:
                    "https://myqr.mobi/images/static_home_preview_images/en_business.png",
            },
            {
                img: "https://myqr.mobi/images/menu_icons/web_page.png",
                nombre: "Web page",
                activo: false,
                descripcion:
                    "Link your URL to a QR code so that anyone can access your website in the blink of an eye. The easier it is to access, the greater the chances of increasing traffic to your website.",
                imgTipo:
                    "https://myqr.mobi/images/static_home_preview_images/en_webpage.png",
            },
            {
                img: "https://myqr.mobi/images/menu_icons/apps.png",
                nombre: "Apps",
                activo: false,
                descripcion:
                    "Make it easy for users to download and install your application with a QR code. Save time spent on searching and generate a positive user experience.",
                imgTipo:
                    "https://myqr.mobi/images/static_home_preview_images/en_apps.png",
            },
            {
                img: "https://myqr.mobi/images/menu_icons/wifi.png",
                nombre: "Wifi",
                activo: false,
                descripcion:
                    "Use a Wi-Fi QR code and forget about endless passwords. Connect to the internet quickly and securely with your mobile camera or QR code reader app. Ideal for Airbnbs, bars and restaurants, offices, or even for your home.",
                imgTipo:
                    "https://myqr.mobi/images/static_home_preview_images/en_wifi.png",
            },
            {
                img: "https://myqr.mobi/images/menu_icons/video.png",
                nombre: "Video",
                activo: false,
                descripcion:
                    "Share that video that you want the whole world to see through print. If it's hosted on YouTube, then link the URL. But if not, don't worry, you can host the video on MyQR.",
                imgTipo:
                    "https://myqr.mobi/images/static_home_preview_images/en_video.png",
            },
            {
                img: "https://myqr.mobi/images/menu_icons/pdf.png",
                nombre: "PDF",
                activo: false,
                descripcion:
                    "Share PDF files using a QR code. Forms, information and texts available to anyone in a quick and secure way.",
                imgTipo:
                    "https://myqr.mobi/images/static_home_preview_images/en_pdf.png",
            },
            {
                img: "https://myqr.mobi/images/menu_icons/imagenes.png",
                nombre: "Images",
                activo: false,
                descripcion:
                    "Share images and photos like never before via QR code. Who knew that so many memories could be in a single QR code.",
                imgTipo:
                    "https://myqr.mobi/images/static_home_preview_images/en_images.png",
            },
            {
                img: "https://myqr.mobi/images/menu_icons/link_of_links.png",
                nombre: "List of links",
                activo: false,
                descripcion:
                    "Gather in links the most relevant content to share with your audience and help your followers find yourself on social networks with a single QR scan.",
                imgTipo:
                    "https://myqr.mobi/images/static_home_preview_images/en_linkoflinks.png",
            },
        ],
        classDescripcion: "descripcionActive",
    }),

    watch: {
        indexTipoQr() {
            this.classDescripcion = "descripcion";
            this.classDescripcion = "descripcionActive";
        },
    },
};
</script>

<style>
.qr_types {
    background-color: #ffffff;
    padding-top: 130px;
    padding-bottom: 100px;
    color: #41778a;
}

.text-qr_types {
    color: #41778a;
    font-size: 50px;
}

.buttonDesignQr {
    background-color: #41778a !important;
    color: #ffffff !important;
    font-size: 25px !important;
    border-style: none !important;
    padding: 15px 80px !important;
    border-radius: 10px !important;
}

.detallesQr {
    margin-top: 50px;
}

.detallesQr span {
    font-size: 50px;
    font-weight: 700;
}

.detallesQr span {
    position: relative;
    display: inline-block;
    height: 111px;
    width: 111px;
    line-height: 111px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: #41778a;
    margin-bottom: 40px;
}

.detallesQr span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 111px;
    width: 111px;
    background: url("https://myqr.mobi/images/Frame2.svg") right top no-repeat;
    background-size: contain;
}

.detallesQr span::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 111px;
    width: 111px;
    background: url("https://myqr.mobi/images/Frame1.svg") left bottom no-repeat;
    background-size: contain;
}

.typeQrButton {
    background-color: #cfdde2 !important;
    border-radius: 13px !important;
    border-style: none !important;
    font-size: 18px;
    color: #41778a !important;
}

.typeQrButton:hover {
    background-color: #ffffff !important;
    border-radius: 13px !important;
    border-style: solid !important;
    border: 2px solid rgba(65, 119, 138, 0.7) !important;
    font-size: 18px !important;
    color: #41778a !important;
}

.typeQrButtonActive {
    background-color: #ffffff !important;
    border-radius: 13px !important;
    border-style: solid !important;
    border: 2px solid rgba(65, 119, 138, 0.7) !important;
    font-size: 18px !important;
    color: #41778a !important;
}

.descripcion {
    display: none !important;
    transition: display 2s;
}

.descripcionActive {
    display: inline-flex !important;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
</style>
