<template>
    <div class="questions">
        <b-container>
            <b-row class="title">
                <b-col style="font-size: 50px">
                    <p>
                        <b>Still have questions?</b>
                    </p>
                </b-col>
            </b-row>

            <b-row>
                <b-col style="font-size: 20px; color: #41778a">
                    <p>
                        Check our FAQ and solve any questions you may have about
                        QR codes.
                    </p>
                </b-col>
            </b-row>

            <b-row class="mt-5">
                <b-col>
                    <b-button class="buttonDesignQr">
                        Answer all your questions
                    </b-button>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
export default {
    data: () => ({}),
};
</script>

<style>
.questions {
    background-color: #cfdde2;
    padding-top: 50px;
    padding-bottom: 100px;
    color: #41778a;
    text-align: center;
}

.text-questions {
    color: #41778a;
    font-size: 50px;
}

.basicConcept {
    background-color: #ffffff;
    border-radius: 22px;
    padding: 25px 25px 25px 25px;
}

.titleConcept {
    font-size: 30px;
    color: #41778a;
}
</style>
