<template>
    <div class="steps">
        <b-container>
            <b-row class="title">
                <b-col style="font-size: 50px">
                    <p><b>You’re one step away from creating your own QR</b></p>
                </b-col>
            </b-row>
            <b-row class="text-center detallesQr">
                <b-col>
                    <span>1</span>
                    <br />
                    <p style="font-size: 30px">Select the content of your QR</p>
                    <p style="font-size: 20px">
                        Choose from a wide variety of options: PDF, menu, video,
                        business cards, web, apps, etc.
                    </p>
                </b-col>
                <b-col>
                    <span>2</span>
                    <p style="font-size: 30px">
                        Customise and design it to your liking
                    </p>
                    <p style="font-size: 20px">
                        Choose colour, shape, style and the information you want
                        to convey through your QR to get a unique design.
                    </p>
                </b-col>
                <b-col>
                    <span>3</span>
                    <p style="font-size: 30px">
                        Log in and print or download it.
                    </p>
                    <p style="font-size: 20px">
                        Choose the most suitable format for your business
                        (pdf,png,svg,jpg...) print it or show it in digital
                        format and that's it!
                    </p>
                </b-col>
            </b-row>
            <b-row class="text-center mt-5">
                <b-col>
                    <b-button class="buttonDesignQr">
                        Generate <b>QR</b> ->
                    </b-button>
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
export default {};
</script>

<style>
.steps {
    background-color: #cfdde2;
    padding-top: 130px;
    padding-bottom: 100px;
    color: #41778a;
}

.text-steps {
    color: #41778a;
    font-size: 50px;
}

.buttonDesignQr {
    background-color: #41778a !important;
    color: #ffffff !important;
    font-size: 25px !important;
    border-style: none !important;
    padding: 15px 80px !important;
    border-radius: 10px !important;
}

.detallesQr {
    margin-top: 50px;
}

.detallesQr span {
    font-size: 50px;
    font-weight: 700;
}

.detallesQr span {
    position: relative;
    display: inline-block;
    height: 111px;
    width: 111px;
    line-height: 111px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: #41778a;
    margin-bottom: 40px;
}

.detallesQr span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 111px;
    width: 111px;
    background: url("https://myqr.mobi/images/Frame2.svg") right top no-repeat;
    background-size: contain;
}

.detallesQr span::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 111px;
    width: 111px;
    background: url("https://myqr.mobi/images/Frame1.svg") left bottom no-repeat;
    background-size: contain;
}
</style>
