<template>
    <b-container
        class="pricesQuestions basic_concepts"
        style="padding-top: 90px; padding-bottom: 150px"
        fluid
    >
        <b-row class="title">
            <b-col style="font-size: 50px">
                <p>
                    <b>Questions about payments?</b>
                </p>
            </b-col>
        </b-row>

        <b-container>
            <b-row>
                <b-col cols="12" md="6" class="mt-5">
                    <b-row>
                        <b-col
                            cols="12"
                            md="11"
                            class="basicConcept"
                            v-b-toggle.collapse-1
                        >
                            <span class="titleConcept">
                                Do you offer refunds for unused subscription
                                periods?
                            </span>
                            <b-button variant="primary" class="mb-2 ml-4">
                                B
                            </b-button>
                            <b-collapse id="collapse-1" class="mt-2">
                                <p class="mt-5" style="color: black">
                                    Unfortunately, once you have subscribed to
                                    the plan with all its benefits, there is no
                                    refund option. You can cancel your
                                    subscription at any time to avoid automatic
                                    renewal at the end of the cycle.
                                </p>
                            </b-collapse>
                        </b-col>
                    </b-row>
                </b-col>

                <b-col cols="12" md="6" class="mt-5">
                    <b-row>
                        <b-col
                            cols="12"
                            md="11"
                            class="basicConcept"
                            v-b-toggle.collapse-2
                        >
                            <span class="titleConcept">
                                Can I change my plan?
                            </span>
                            <b-button variant="primary" class="mb-2 ml-4">
                                B
                            </b-button>
                            <b-collapse id="collapse-2" class="mt-2">
                                <p class="mt-5" style="color: black">
                                    Feel free to change, upgrade or cancel your
                                    plan whenever you need to. If you need help
                                    you can contact us, we will be happy to
                                    assist you.
                                </p>
                            </b-collapse>
                        </b-col>
                    </b-row>
                </b-col>

                <b-col cols="12" md="6" class="mt-5">
                    <b-row>
                        <b-col
                            cols="12"
                            md="11"
                            class="basicConcept"
                            v-b-toggle.collapse-3
                        >
                            <span class="titleConcept">
                                How does the 14-days trial period work?
                            </span>
                            <b-button variant="primary" class="mb-2 ml-4">
                                B
                            </b-button>
                            <b-collapse id="collapse-3" class="mt-2">
                                <p class="mt-5" style="color: black">
                                    During the 14-day trial period you will have
                                    full access to all features. If you have not
                                    cancelled your subscription after the trial
                                    period has expired, you will be
                                    automatically renewed to the annual plan.
                                </p>
                            </b-collapse>
                        </b-col>
                    </b-row>
                </b-col>

                <b-col cols="12" md="6" class="mt-5">
                    <b-row>
                        <b-col
                            cols="12"
                            md="11"
                            class="basicConcept"
                            v-b-toggle.collapse-4
                        >
                            <span class="titleConcept">
                                Do I get full access with the trial?
                            </span>
                            <b-button variant="primary" class="mb-2 ml-4">
                                B
                            </b-button>
                            <b-collapse id="collapse-4" class="mt-2">
                                <p class="mt-5" style="color: black">
                                    With the MYQR trial period you will have all
                                    the tools and advantages at your fingertips.
                                </p>
                            </b-collapse>
                        </b-col>
                    </b-row>
                </b-col>
            </b-row>
        </b-container>
    </b-container>
</template>

<script>
export default {
    methods: {
        redirectLogin() {
            this.$router.push({ name: 'main', query: { login: true } });
        },
    },
};
</script>

<style scoped>
.pricesQuestions {
    background-color: #cfdde2;
}

.basic_concepts {
    background-color: #cfdde2;
    padding-top: 130px;
    padding-bottom: 100px;
    color: #41778a;
}

.text-basic_concepts {
    color: #41778a;
    font-size: 50px;
}

.basicConcept {
    background-color: #ffffff;
    border-radius: 22px;
    padding: 25px 25px 25px 25px;
}

.titleConcept {
    font-size: 30px;
    color: #41778a;
}
</style>
