<template>
    <b-container style="margin-top: 90px; margin-bottom: 120px">
        <b-row class="title">
            <b-col style="font-size: 50px">
                <p>
                    <b>Prices</b>
                </p>
            </b-col>
        </b-row>
        <b-row class="text-center" style="font-size: 20px; color: #41778a">
            <b-col cols="12" md="8" offset-md="2">
                <p>
                    Subscribe to our packages and access all the tools at the
                    best price. Choose the most convenient plan to access all
                    our tools at the best price.
                </p>
            </b-col>
        </b-row>

        <b-row class="pricesVentajas">
            <b-col cols="12" md="4" class="titleVentajas">
                <p>Access all the advantages that MYQR offers you.</p>
            </b-col>
            <b-col cols="6" md="">
                <ul>
                    <li class="pt-2">
                        <img
                            src="https://myqr.mobi/images/check.png"
                            alt="check"
                            width="33"
                        />
                        <span class="ml-3 pt-1">Complete QR analytics.</span>
                    </li>
                    <li>
                        <img
                            src="https://myqr.mobi/images/check.png"
                            alt="check"
                            width="33"
                        />
                        <span class="ml-3 pt-1">Unlimited scans.</span>
                    </li>
                    <li>
                        <img
                            src="https://myqr.mobi/images/check.png"
                            alt="check"
                            width="33"
                        />
                        <span class="ml-3 pt-1">CSV/XLSX data export.</span>
                    </li>
                </ul>
            </b-col>
            <b-col cols="6" md="">
                <ul>
                    <li class="pt-2">
                        <img
                            src="https://myqr.mobi/images/check.png"
                            alt="check"
                            width="33"
                        />
                        <span class="ml-3 pt-1">Dynamic QR design.</span>
                    </li>
                    <li>
                        <img
                            src="https://myqr.mobi/images/check.png"
                            alt="check"
                            width="33"
                        />
                        <span class="ml-3 pt-1">QR edition and management</span>
                    </li>
                    <li>
                        <img
                            src="https://myqr.mobi/images/check.png"
                            alt="check"
                            width="33"
                        />
                        <span class="ml-3 pt-1"
                            >Variety of download formats.</span
                        >
                    </li>
                </ul>
            </b-col>
        </b-row>

        <b-row style="margin-top: 80px">
            <b-col cols="12" md="" class="trialPlan text-center">
                <b-row>
                    <b-col>
                        <span style="font-size: 40px; font-weight: 600">
                            Trial plan
                        </span>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <span style="font-size: 20px">(14 days)</span>
                    </b-col>
                </b-row>
                <b-row
                    style="font-size: 50px; font-weight: 600; margin-top: 50px"
                >
                    <b-col>
                        <span>0.50€</span>
                    </b-col>
                </b-row>
                <b-row style="margin-top: 50px">
                    <b-col cols="12" md="6" offset-md="3">
                        <b-button
                            class="buttonBuy"
                            block
                            @click="redirectLogin"
                        >
                            Buy
                        </b-button>
                    </b-col>
                </b-row>
            </b-col>
            <b-col cols="1"></b-col>
            <b-col cols="12" md="" class="annualPlan text-center">
                <b-row>
                    <b-col>
                        <span style="font-size: 40px; font-weight: 600">
                            Annual Plan
                        </span>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <span style="font-size: 20px">(12 months)</span>
                    </b-col>
                </b-row>
                <b-row
                    style="font-size: 50px; font-weight: 600; margin-top: 50px"
                >
                    <b-col>
                        <span>225€</span>
                    </b-col>
                </b-row>
                <b-row style="margin-top: 50px">
                    <b-col cols="12" md="6" offset-md="3">
                        <b-button class="buttonBuy" block @click="redirectLogin"
                            >Buy</b-button
                        >
                    </b-col>
                </b-row>
            </b-col>
        </b-row>

        <b-row>
            <b-col
                cols="12"
                md="6"
                class="mt-4 pr-5 text-center"
                style="color: #41778a; font-size: 16px"
            >
                <p>
                    (*) After 14 days and the subscription has not been
                    cancelled, the subscription will be automatically renewed to
                    the annual plan.
                </p>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
export default {
    methods: {
        redirectLogin() {
            this.$router.push({ name: "main", query: { login: true } });
        },
    },
};
</script>

<style scoped>
.pricesVentajas {
    color: #41778a !important;
    margin-top: 70px;
}

.pricesVentajas .titleVentajas {
    font-size: 30px;
    font-weight: 600;
}

.pricesVentajas ul li {
    color: #41778a !important;
    font-size: 20px;
    font-weight: 600;
}

.trialPlan {
    background-color: rgba(65, 119, 138, 0.25);
    color: #41778a;
    padding-top: 50px;
    border-radius: 30px;
    height: 440px;
    width: 533.5px;
}

.annualPlan {
    background-color: #41778a;
    color: #ffffff;
    padding-top: 50px;
    border-radius: 30px;
    height: 440px;
    width: 533.5px;
}

.buttonBuy {
    color: #41778a !important;
    font-weight: 700 !important;
    font-size: 30px !important;
    background-color: #ffffff !important;
    border-style: none !important;
    border-radius: 12px !important;
}

.trialPlan .buttonBuy:hover {
    color: #ffffff !important;
    font-weight: 700 !important;
    font-size: 30px !important;
    background-color: #41778a !important;
    border-style: none !important;
    border-radius: 12px !important;
    transition: 0.5s;
}

.annualPlan .buttonBuy:hover {
    color: #41778a !important;
    font-weight: 700 !important;
    font-size: 30px !important;
    background-color: #cfdde2 !important;
    border-style: none !important;
    border-radius: 12px !important;
    transition: 0.5s;
}
</style>
