<template>
    <b-container fluid class="cookiesPolicy">
        <b-row>
            <b-col class="title">
                <p>Cookie Policy</p>
            </b-col>
        </b-row>
        <b-row class="text-center" style="color: #41778a; font-size: 20px">
            <b-col>
                <p>Last updated: Jul 15</p>
            </b-col>
        </b-row>
        <b-row>
            <b-col class="content" cols="12" md="8" offset-md="2">
                <p class="section">Summary</p>
                <ul>
                    <li>Cookies used: Own and Third Party</li>
                    <li>
                        Are they used to obtain statistics? Yes, the legal basis
                        being our legitimate interest in better management of
                        the service.
                    </li>
                    <li>
                        Third party services that install cookies through this
                        website: Google, Google Analytics and Paycomet.
                    </li>
                </ul>

                <p class="section">How to configure and disable cookies</p>
                <p>
                    You can allow, block or delete the cookies installed on your
                    device from your web browser. If you do not allow the
                    installation of cookies on your device, the browsing
                    experience may deteriorate. Below, you can find how to
                    configure cookies in each browser:
                </p>
                <ul>
                    <li>Edge</li>
                    <li>Google Chrome</li>
                    <li>Google Android</li>
                    <li>Internet Explorer 8</li>
                    <li>Internet Explorer 9</li>
                    <li>Internet Explorer 11</li>
                    <li>Mozilla Firefox</li>
                    <li>Opera</li>
                    <li>Safari</li>
                    <li>Safari Mobile</li>
                </ul>

                <p class="section">1. Types and uses</p>
                <p>
                    The service uses its own and third-party cookies to improve
                    navigation, provide the service and obtain statistics on the
                    use of the website.
                </p>

                <p class="section">2. What is a cookie and what is it for?</p>
                <p>
                    A cookie is a text file that is sent to the web browser of
                    your computer, mobile or tablet and that is used to store
                    and retrieve information about the navigation carried out.
                    For example, remembering your username and password or your
                    profile preferences.
                </p>

                <p class="section">3. What types of cookies are there?</p>
                <p>According to who manages them:</p>
                <ul>
                    <li>
                        Own cookies; They are sent to your browser from our
                        computers or web domains.
                    </li>
                    <li>
                        Third party cookies; They are sent to your browser from
                        a computer or web domain that we do not manage directly,
                        but a third entity such as Google.
                    </li>
                </ul>
                <p>Depending on the time they are active, there are:</p>
                <ul>
                    <li>
                        Session cookies; they remain in your browser's cookie
                        file until you leave the website, so that none remain on
                        your device.
                    </li>
                    <li>
                        Persistent cookies; they remain on your device and our
                        website reads them every time you make a new visit.
                        These cookies stop working after a specific date.
                    </li>
                </ul>
                <p>Finally, and according to its purpose, we have:</p>
                <ul>
                    <li>
                        Technical cookies; improve navigation and the proper
                        functioning of the web.
                    </li>
                    <li>
                        Personalization cookies; They allow access to the
                        service with predefined characteristics based on a
                        series of criteria.
                    </li>
                    <li>
                        Analysis cookies; They allow you to statistically
                        measure and analyze the use made of the service
                        provided.
                    </li>
                </ul>
                <p>List of third party cookies used by myqr.mobi:</p>
                <p>
                    Google: Its cookies (NID or CONSENT) allow you to customize
                    how ads are viewed outside of Google or store information
                    such as the preferred language when displaying results of
                    search.
                </p>
                <p>
                    More information about the types of cookies that Google uses
                    in its multiple services.
                </p>
                <p>
                    Google Analytics: Your cookies (such as _ga) allow you to
                    count the times a user visits a website, how, when and where
                    does it come from.
                </p>
                <p>
                    In any case, you can disable Google Analytics cookies from
                    here.
                </p>
                <p>
                    Paycomet: Your cookie cookiesession33 is used to control the
                    payment gateway and anti-fraud.
                </p>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
export default {
    mounted() {
        window.scroll(0, 0);
    },
};
</script>

<style scoped>
.cookiesPolicy {
    background-color: #cfdde2;
}

.title {
    text-align: center;
    color: #41778a;
    font-size: 50px;
    font-weight: 700;
    margin-top: 100px;
}

.content {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 70px 70px 70px 70px;
    color: #878686 !important;
    font-size: 18px !important;
    margin-top: 80px;
    margin-bottom: 90px;
}

.content ul {
    color: #878686;
    font-size: 18px;
    padding: 0px !important;
    list-style: inside;
}

.content ul li {
    padding-bottom: 4px !important;
    padding-top: 0px !important;
}

.content .section {
    color: #41778a;
    font-size: 30px;
    font-weight: 500;
    margin-top: 40px;
}

.content .subsection {
    color: #41778a;
    font-size: 24px;
    font-weight: 500;
    margin-top: 40px;
}
</style>
