<template>
    <div>
        <b-modal
            id="modal-reset-password-successful"
            ref="modal-reset-password-successful"
            hide-header
            hide-footer
            centered
            class="modalSign"
        >
            <b-container class="mt-3">
                <b-row class="text-center">
                    <b-col>
                        <img
                            src="https://myqr.mobi/images/icons/right-icon.svg"
                            class="right-icon"
                            alt="right"
                        />
                    </b-col>
                </b-row>
                <b-row class="mt-3">
                    <b-col>
                        <h3 class="modalTitle text-center">
                            Check your inbox!
                        </h3>
                    </b-col>
                </b-row>
                <b-row class="mt-3 text-center" style="font-size: 18px">
                    <b-col>
                        We have sent you an email with the instructions to
                        recover your password.
                    </b-col>
                </b-row>

                <b-row class="mt-4">
                    <b-col>
                        <b-button
                            class="bottonLogin"
                            block
                            @click="
                                $bvModal.hide('modal-reset-password-successful')
                            "
                        >
                            <span>Accept</span>
                        </b-button>
                    </b-col>
                </b-row>
            </b-container>
        </b-modal>
    </div>
</template>

<script>
export default {
    data: () => ({}),

    methods: {},
};
</script>

<style>
@font-face {
    font-family: "newfont";
    src: url("@/assets/fuentes/FontsFree-Net-DINPro-1.ttf");
    font-weight: normal;
    font-style: normal;
}

.modal-content {
    border-radius: 30px !important;
    font-family: "newfont", Helvetica, sans-serif;
    border-style: none;
    color: #41778a;
    padding-bottom: 25px;
}

.modalTitle {
    font-size: 28px;
    color: #41778a;
    font-weight: 600;
}

.bottonLogin {
    padding: 10px !important;
    font-size: 18px !important;
    border-radius: 10px !important;
    background-color: #41778a !important;
}

.logInForm .form-control {
    border: 1px solid #cfdde2;
    border-radius: 10px !important;
}

.bottonCancel {
    padding: 10px !important;
    font-size: 18px !important;
    border-radius: 10px !important;
    background-color: #ffffff !important;
    color: black !important;
    border: 2px solid rgb(202, 202, 202) !important;
}
</style>
