<template>
    <div>
        <b-modal
            id="modal-reset-password"
            ref="modal-reset-password"
            hide-header
            hide-footer
            centered
            class="modalSign"
        >
            <b-container class="mt-3">
                <b-row>
                    <b-col>
                        <h3 class="modalTitle">Recover Password</h3>
                    </b-col>
                </b-row>
                <b-row class="mt-3" style="color: black">
                    <b-col>
                        Enter the email with which you created your account and
                        we will send you a code so you can recover your
                        password.
                    </b-col>
                </b-row>
                <b-form
                    class="logInForm mt-4"
                    @submit.stop.prevent="onSubmit"
                    @reset="onReset"
                >
                    <label
                        for="input-1"
                        style="font-size: 18px; font-weight: 400"
                    >
                        Email
                    </label>
                    <b-form-input
                        id="input-1"
                        type="email"
                        placeholder="name@email.com"
                        required
                        v-model="email"
                    ></b-form-input>

                    <b-row class="mt-4">
                        <b-col>
                            <b-button
                                type="submit"
                                class="bottonLogin"
                                block
                                :disabled="spinner"
                            >
                                <b-spinner
                                    v-show="spinner"
                                    variant="light"
                                ></b-spinner>
                                <span v-show="!spinner">Send Email</span>
                            </b-button>
                        </b-col>
                    </b-row>

                    <b-row class="mt-4">
                        <b-col>
                            <b-button
                                type="submit"
                                class="bottonCancel"
                                block
                                :disabled="spinner"
                            >
                                <b-spinner
                                    v-show="spinner"
                                    variant="light"
                                ></b-spinner>
                                <span v-show="!spinner">Cancel</span>
                            </b-button>
                        </b-col>
                    </b-row>
                </b-form>
            </b-container>
        </b-modal>

        <ModalResetPasswordSuccessful />
    </div>
</template>

<script>
import { mapMutations } from "vuex";
import ModalResetPasswordSuccessful from "./ModalResetPasswordSuccessful";
export default {
    data: () => ({
        spinner: false,
        email: "blondell2811@gmail.com",
    }),

    components: {
        ModalResetPasswordSuccessful,
    },

    methods: {
        ...mapMutations(["setUser"]),

        async onSubmit() {
            try {
                this.spinner = true;
                const ruta = "reset_password";
                const params = {
                    email: this.email,
                };
                await this.apiService.post(ruta, params);
                this.$bvModal.hide("modal-reset-password");
                this.$bvModal.show("modal-reset-password-successful");
            } catch (error) {
                console.error(error);
            } finally {
                this.spinner = false;
            }
        },

        onReset() {},
    },
};
</script>

<style>
@font-face {
    font-family: "newfont";
    src: url("@/assets/fuentes/FontsFree-Net-DINPro-1.ttf");
    font-weight: normal;
    font-style: normal;
}

.modal-content {
    border-radius: 30px !important;
    font-family: "newfont", Helvetica, sans-serif;
    border-style: none;
    color: #41778a;
    padding-bottom: 25px;
}

.modalTitle {
    font-size: 28px;
    color: #41778a;
    font-weight: 600;
}

.bottonLogin {
    padding: 10px !important;
    font-size: 18px !important;
    border-radius: 10px !important;
    background-color: #41778a !important;
}

.logInForm .form-control {
    border: 1px solid #cfdde2;
    border-radius: 10px !important;
}

.bottonCancel {
    padding: 10px !important;
    font-size: 18px !important;
    border-radius: 10px !important;
    background-color: #ffffff !important;
    color: black !important;
    border: 2px solid rgb(202, 202, 202) !important;
}
</style>
