<template>
    <div>
        <b-modal
            id="modal-register"
            ref="modal-register"
            hide-header
            hide-footer
            centered
            class="modalSign"
        >
            <b-container class="mt-3">
                <b-row>
                    <b-col>
                        <h3 class="modalTitle">Create account</h3>
                    </b-col>
                </b-row>
                <b-form
                    class="logInForm mt-4"
                    @submit.stop.prevent="onSubmit"
                    @reset="onReset"
                >
                    <label
                        for="email"
                        style="font-size: 18px; font-weight: 400"
                    >
                        Email
                    </label>
                    <b-form-input
                        v-validate="'required|email'"
                        name="email"
                        id="email"
                        type="email"
                        placeholder="name@email.com"
                        v-model="email"
                        :state="validateState('email')"
                    ></b-form-input>
                    <b-form-invalid-feedback id="email-live-feedback">
                        {{ veeErrors.first('email') }}
                    </b-form-invalid-feedback>

                    <label
                        class="mt-4"
                        for="input-1"
                        style="font-size: 18px; font-weight: 400"
                    >
                        Password
                    </label>
                    <b-form-input
                        v-validate="'required'"
                        name="password"
                        id="password"
                        type="password"
                        placeholder="Enter your password here..."
                        v-model="password"
                        :state="validateState('password')"
                    ></b-form-input>
                    <b-form-invalid-feedback id="password-live-feedback">
                        {{ veeErrors.first('password') }}
                    </b-form-invalid-feedback>

                    <b-form-checkbox
                        class="mt-4"
                        id="accept_terms"
                        v-model="accept_terms"
                        name="accept_terms"
                        style="color: black"
                    >
                        I have read and accept the
                        <router-link
                            :to="{ name: 'conditions' }"
                            target="_blank"
                        >
                            terms of use and contracting
                        </router-link>
                        and the
                        <router-link
                            :to="{ name: 'privacy_policy' }"
                            target="_blank"
                        >
                            privacy policy.
                        </router-link>
                    </b-form-checkbox>

                    <b-row class="mt-4">
                        <b-col>
                            <b-button
                                type="submit"
                                class="bottonLogin"
                                block
                                :disabled="spinner"
                            >
                                <b-spinner
                                    v-show="spinner"
                                    variant="light"
                                ></b-spinner>
                                <span v-show="!spinner">Create account</span>
                            </b-button>
                        </b-col>
                    </b-row>

                    <b-row class="mt-4 text-center">
                        <b-col>
                            <span style="color: #41778a">
                                Already have an account?
                                <b
                                    style="color: #41778a; cursor: pointer"
                                    @click="
                                        $bvModal.hide('modal-register'),
                                            $emit('logIn')
                                    "
                                >
                                    Log In
                                </b></span
                            >
                        </b-col>
                    </b-row>
                </b-form>
            </b-container>
        </b-modal>
    </div>
</template>

<script>
import { mapMutations } from 'vuex';
export default {
    data: () => ({
        spinner: false,
        email: 'blondell2811@gmail.com',
        password: '12345678',
        accept_terms: false,
    }),

    methods: {
        ...mapMutations(['setUser']),

        validateState(ref) {
            if (
                this.veeFields[ref] &&
                (this.veeFields[ref].dirty || this.veeFields[ref].validated)
            ) {
                return !this.veeErrors.has(ref);
            }
            return null;
        },

        async onSubmit() {
            try {
                const result = await this.$validator.validateAll();
                if (!result) return false;

                this.spinner = true;
                const ruta = 'register';
                const params = {
                    email: this.email,
                    password: this.password,
                };
                const response = await this.apiService.post(ruta, params);
                window.localStorage.token = `${response.data.token_type} ${response.data.access_token}`;
                this.setUser(response.data.usuario);
                this.$router.push({ name: 'qr_codes' });
            } catch (error) {
                console.error(error);
            } finally {
                this.spinner = false;
            }
        },

        onReset() {},
    },
};
</script>

<style>
@font-face {
    font-family: 'newfont';
    src: url('@/assets/fuentes/FontsFree-Net-DINPro-1.ttf');
    font-weight: normal;
    font-style: normal;
}

.modal-content {
    border-radius: 30px !important;
    font-family: 'newfont', Helvetica, sans-serif;
    border-style: none;
    color: #41778a;
    padding-bottom: 25px;
}

.modalTitle {
    font-size: 28px;
    color: #41778a;
    font-weight: 600;
}

.bottonLogin {
    padding: 10px !important;
    font-size: 18px !important;
    border-radius: 10px !important;
    background-color: #41778a !important;
}

.logInForm .form-control {
    border: 1px solid #cfdde2;
    border-radius: 10px !important;
}
</style>
