<template>
    <div id="app">
        <router-view />
    </div>
</template>

<style>
@font-face {
    font-family: "newfont";
    src: url("./assets/fuentes/FontsFree-Net-DINPro-1.ttf");
    font-weight: normal;
    font-style: normal;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

#app {
    font-family: "newfont", Helvetica, sans-serif;
}

.title {
    color: #41778a;
    font-size: 50px;
    text-align: center;
}
</style>
