<template>
    <b-container fluid class="conditions">
        <b-row>
            <b-col class="titleConditions">
                <p>Conditions of use and Contract</p>
            </b-col>
        </b-row>
        <b-row class="text-center" style="color: #41778a; font-size: 20px">
            <b-col>
                <p>Last updated: Jul 15</p>
            </b-col>
        </b-row>
        <b-row>
            <b-col class="contentConditions" cols="12" md="8" offset-md="2">
                <p>The Terms you will find below are important because:</p>
                <ul>
                    <li>They establish their legal rights in MYQR.</li>
                    <li>Explain the rights you grant us when you use MYQR.</li>
                    <li>
                        They describe the rules that everyone must respect when
                        using MYQR.
                    </li>
                </ul>
                <p>
                    Please read these Terms carefully, as well as our Privacy
                    Policy and any other documents mentioned in these Terms.
                    Let's get started...
                </p>

                <p class="section">1. INTRODUCTION AND DATA OF MYQR.</p>
                <p>
                    The website https://myqr.mobi (hereinafter, the "Website")
                    is owned by the company (hereinafter, the "MYQR"), A company
                    incorporated in accordance with Spanish legislation with
                    address at C/Rosselló, 184, 4-3 Barcelona (08008), holder of
                    CIF number B-06944524. MYQR puts the Website at your
                    disposal so that you can get to know us better, know the
                    services we provide and if you wish, you can contact and,
                    where appropriate, contract with us.
                </p>

                <p class="section">
                    2. PURPOSE AND SCOPE OF APPLICATION OF THE TERMS OF USE
                </p>
                <p>
                    These conditions of use constitute, together with the
                    Privacy Policy and the Cookies Policy, the legal framework
                    that regulates the use of the website https://myqr.mobi.
                    These conditions of use will be available to you on the
                    website in english so that you can consult, archive or print
                    them at any time and whenever you want. To know any question
                    regarding the treatment carried out by myqr. of your
                    personal data, please visit our Privacy Policy and our
                    Cookies Policy. Both policies will also be available to you
                    in english so that you can consult, archive or print them at
                    any time. Myqr uses third-party cookies on the Website. To
                    find out more about the type of cookies used on the web
                    https://myqr.mobi, their purpose and how to configure your
                    browser in case you do not want us to use these cookies,
                    please visit our Cookies Policy . Both these conditions of
                    use, as well as the Privacy Policy and the Cookies Policy
                    have been prepared in accordance with the provisions of
                    current applicable regulations, among others, the Law
                    34/2002, on Services of the Information Society and
                    Electronic Commerce and Regulation (EU) 2016/679 of the
                    European Parliament and of the Council, of April 27, 2016,
                    regarding the protection of natural persons with regard to
                    to the processing of personal data and the free circulation
                    of these data and by which Directive 95/46 / CE is repealed.
                </p>

                <p class="section">3. ACCESS TO THE WEBSITE AND ACCEPTANCE</p>
                <p>
                    Access to the Website is free except for the part related to
                    the cost of the connection through the telecommunications
                    network provided by the Internet access provider that you
                    have contracted. You can freely browse the Website and
                    access it as many times as you want. To access and navigate
                    the Website, you do not need to register, except if you want
                    to hire a service. The use of the website gives you the
                    condition of user of the website (hereinafter, the "User")
                    and implies your full and unreserved acceptance of these
                    conditions of use, as well as the Privacy Policy and the
                    Cookies Policy of the Website. Furthermore, you agree not to
                    use the Service for illegal purposes. By accessing the
                    Website and browsing it, you declare under your
                    responsibility that you are of legal age and that you have
                    the necessary legal capacity to access the Website and use
                    it, also declaring that you fully understand and accept
                    these conditions of use without reservation. . On the other
                    hand, we inform you that for legal reasons we archive the
                    electronic documents in which the purchases are formalized.
                    You can access these documents at any time by requesting it
                    at: info@myqr.mobi.
                </p>

                <p class="section">4. CONDITIONS OF USE OF THE WEBSITE</p>
                <p>
                    The User agrees to use the Website in accordance with these
                    conditions of use, current legislation and good faith. Thus,
                    the User will respond to MYQR. and before any third party
                    for the damages and losses derived from the use contrary to
                    these conditions, the legislation and the good faith made by
                    the User of the Website.
                </p>

                <p class="section">5. DESCRIPTION OF THE SERVICE</p>
                <p>
                    Through the Service, MYQR allows the subscription to the
                    service to carry out the creation of QR codes and analysis.
                    The language in which the contract between MYQR and the
                    buyer will be concluded will be that of the country of
                    origin. The purchase process in the online service will be
                    as follows:
                </p>
                <ul>
                    <li>
                        You must register on the website with a username and
                        password.
                    </li>
                    <li>
                        At the time of registration you must include your card
                        number.
                    </li>
                    <li>
                        Pressing "Accept" will start the Service with the trial
                        plan provided for a period of 14 days for an amount of
                        0,50 €.
                    </li>
                    <li>
                        Once this period has elapsed, if the user has not
                        canceled the subscription, they are authorizing us to
                        charge 225,00 € for the annual plan.
                    </li>
                    <li>
                        After the purchase of the service, the user will have an
                        administration panel where they will find:
                    </li>
                    <ul class="ml-5">
                        <li>
                            A section with the list of all QR codes created with
                            the option of being able to edit, delete, or check
                            the details.
                        </li>
                        <li>
                            A section of Plans and payments to consult the
                            invoices and cancel the subscription.
                        </li>
                        <li>
                            An Analysis section with the statistics of your QR
                            codes.
                        </li>
                        <li>
                            A section of My Account to be able to change account
                            preferences.
                        </li>
                    </ul>
                </ul>
                <p>
                    Once the purchase of the service has been made, it will be
                    confirmed by sending an email, within a maximum period of 24
                    hours, to the address you have indicated. It will indicate
                    the service, how to cancel the subscription, its amount,
                    applicable taxes, the form of payment and the applicable
                    terms and conditions.
                </p>

                <p class="subsection">5.1 Subscription</p>
                <p>
                    Subscription to the Service is annual for an amount of
                    225,00 € and will be automatically renewed for the same
                    period of time until its termination. Unless you cancel your
                    subscription, you authorize us to charge the corresponding
                    annual subscription fee to your payment method. You can
                    cancel your subscription to the Service at any time, and you
                    will continue to have access to it until the end of your
                    annual billing period. To the extent permitted by law,
                    payments are non-refundable and we do not provide refunds or
                    credits for partial annual subscription periods.
                </p>

                <p class="section">6. PRICE AND TAXES</p>
                <p>
                    The prices of the products offered on MYQR are indicated in
                    euros (€), the Value Added Tax (VAT) in force at the time of
                    purchase is levied on the price of the products. In any
                    case, the operation could be exempt or not subject to VAT
                    depending on your country of residence or the condition in
                    which you act. For this reason, in some cases the final
                    price of the order may be altered with respect to the one
                    shown. Purchases made by subjects exempt from VAT payment
                    will indicate this by sending their VAT/NIF number by email
                    to info@myqr.mobi, not recording purchases with said tax.
                </p>

                <p class="section">7. PAYMENT METHOD</p>
                <p>
                    Online payment of the purchased service can be made by
                    credit or debit card. In this sense, MYQR informs credit and
                    debit card holders that transactions in the online store are
                    carried out through a secure payment gateway, using SSL
                    technology to guarantee the security of data transmission.
                </p>

                <p class="section">8. RIGHT OF WITHDRAWAL AND REFUNDS</p>
                <p class="subsection">8.1. Right of withdrawal</p>
                <p>
                    Given the type of product marketed in our online service,
                    software in digital format of QR codes, the right of
                    withdrawal will not be applicable according to article 103,
                    letter m) of Royal Legislative Decree 1/2007, of November
                    16, by the that the revised text of the General Law for the
                    Defense of Consumers and Users and other complementary laws
                    is approved.
                </p>
                <p class="subsection">8.2. Refunds</p>
                <p>
                    Regardless of the plan chosen by the user, the amounts paid
                    by the user and to the extent permitted by law will not be
                    refundable. The contracted service may not be assigned or
                    transferred to other users of the Service. In any case, the
                    user may make use of the contracted service until the end of
                    the contracted period.
                </p>

                <p class="section">9. VALIDITY OF OFFERS</p>
                <p>
                    The services offered in the Service, and their prices, will
                    be available for purchase while they are in the catalog of
                    services displayed through this website. In any case, MYQR
                    reserves the right to make the modifications it deems
                    appropriate in the Service, being able to update products
                    and services depending on the market. MYQRreserves the right
                    to change prices without prior notice. We inform you that
                    despite the updates that are made to the prices of the
                    Service, they could contain errors. We will promptly correct
                    any errors that appear, but they will not be binding on the
                    Service.
                </p>

                <p class="section">10. SAFETY</p>
                <p>
                    As indicated above, the entire purchase procedure, as well
                    as the transmission of your personal data and payment
                    systems, is carried out on a secure page and in an encrypted
                    way through the SSL protocol. We guarantee the security of
                    the Service in accordance with current technological
                    knowledge. However, MYQRcannot guarantee the full future
                    security of the Service. In any case, we do promise to
                    correct and implement the appropriate corrective measures to
                    correct a possible security breach as soon as possible. You
                    agree to notify MYQR, immediately and via email
                    info@myqr.mobi of any situation that could lead to the
                    impersonation of a user's identity.
                </p>

                <p class="section">11. MODIFICATIONS AND NULLITY</p>
                <p>
                    We may update the terms and conditions of the Service in the
                    future, as well as the features and functions of the Service
                    itself. We will inform you of the changes in terms and
                    conditions by placing a notice in a prominent place on our
                    website and/or by email. If any clause included in these
                    terms and conditions is declared, totally or partially, null
                    or ineffective, it will only affect said provision or the
                    part of it that is null or ineffective. The terms and
                    conditions will subsist in everything else, having such
                    provision, or the part of it that is affected, by not being
                    placed.
                </p>

                <p class="section">
                    12. CLAIMS AND ACTIONS DERIVED FROM THE CONTRACT
                </p>
                <p>
                    As far as possible, this Service is governed by Spanish law.
                    In order to simplify the resolution of claims through civil
                    proceedings and reduce costs, we do not exclude the
                    possibility of submitting ourselves to an Equity Arbitration
                    of the Court of Arbitration of the Chambers of Commerce and
                    Industry. In this sense, and according to the applicable
                    regulations, MYQR informs of the existence of a European
                    online dispute resolution platform that facilitates the
                    out-of-court resolution of such disputes for contracts also
                    concluded online between consumers and Internet service
                    providers. This platform can be accessed through the
                    following website:
                    <a href="http://ec.europa.eu/odr" target="__blanc"
                        >http://ec.europa.eu/odr</a
                    >
                </p>

                <p class="section">
                    13. INTELLECTUAL AND INDUSTRIAL PROPERTY RIGHTS
                </p>
                <p>
                    The Website and its contents are subject to protection in
                    application of current national regulations on Intellectual
                    and/or Industrial Property, as well as in application of the
                    international conventions applicable in such matters. MYQR
                    is the owner or has duly licensed all the Intellectual and
                    Industrial Property rights on the Website and its contents.
                    Any form of reproduction, distribution, public
                    communication, transformation, making available and, in
                    general, any other act of exploitation whether or not for
                    commercial purposes of the Website or its contents, without
                    the prior express consent of MYQR. It is expressly forbidden
                    to erase the identifying data of MYQR as the owner of the
                    Intellectual and Industrial Property rights of the Website
                    or its contents. MYQR reserves all Intellectual and
                    Industrial Property rights over the Website and its
                    contents, also reserving the exercise of any legal actions
                    that correspond to it in order to cease, prevent or
                    prosecute any illicit use of the Website or its contents. In
                    no case and under no circumstances does access to the
                    Website or its use by the User or third parties constitute
                    or imply an assignment of any kind by MYQR of the
                    Intellectual or Industrial Property rights of the Website or
                    its contents. In no case the lack of requirement by MYQR to
                    cease use of the Website or its illegal or content contrary
                    to these conditions may be understood as tacit consent by
                    MYQR to such uses or as a waiver of the exercise of any
                    legal action that may correspond to it.
                </p>

                <p class="section">14. RESPONSIBILITIES AND GUARANTEES</p>
                <p>
                    The User must use the Website and its contents in accordance
                    with the provisions of these conditions of use, current
                    legislation and good faith. Any use of the website or its
                    contents contrary to these general conditions, the law or
                    good faith is expressly prohibited, regardless of whether
                    said use has an economic purpose or not. The User will be
                    responsible for any damage or harm caused to MYQR or to
                    third parties derived directly or indirectly from any use
                    that the User makes of the Website or its contents contrary
                    to these conditions, the law, morality, public order or good
                    faith. For the Website and its contents to be accessible to
                    the User, MYQR requires services provided by third parties.
                    It is possible that despite the efforts made by MYQR to keep
                    the Website available and accessible to users, its
                    availability may be suspended, interrupted or canceled for
                    reasons beyond MYQR. That is why MYQR does not guarantee the
                    absence of interruptions or errors in accessing the Website
                    or its contents, nor that they are updated or always
                    displayed in their latest version. Consequently, MYQR
                    declines any responsibility for damages that may be derived
                    to the User or third parties as a result of the suspension,
                    interruption, lack of continuity, network outage or
                    disconnection of the Website. In no case and under no
                    circumstances will MYQR be liable for damages or losses
                    derived to the user from causes not attributable to MYQR
                    such as, by way of example and in no case limiting, natural
                    disasters, situations of force majeure or extreme urgency,
                    viruses, harmful components, browser malfunctions, network
                    drops, computer intrusions or third-party attacks.
                </p>

                <p class="section">15. LINKS</p>
                <p>
                    The websites, platforms, forums, chats, blogs or external
                    social networks that link or link to the Website must
                    clearly inform that they do not have the authorization or
                    supervision of MYQR and that said linking or link does not
                    entail, suppose or imply association of any kind between
                    MYQR and the websites, platforms, forums, chats, blogs or
                    external social networks that link or link to the Website.
                    In any case, any link that is destined for the Website must
                    be directed directly to the home page or home page of the
                    Website by clicking on the URL of the website covering the
                    entire screen of the home page or page of start of the
                    Website, so that the link is absolute and complete without
                    the use of frames, frames or hyperlinks. MYQR does not
                    respond in any case and under any circumstances to the
                    content, information or data related to the website, its
                    content or any other matter contained in the websites,
                    platforms, forums, chats, blogs or third-party social
                    networks that link or link to the Website. It is expressly
                    forbidden to link or link to the Website from websites,
                    platforms, forums, chats, blogs or social networks contrary
                    to the law, morals and good customs, especially those with
                    pornographic, illicit, illegal or infringing human rights
                    content. On the other hand, the Website may contain links to
                    third party websites, platforms, forums, chats, blogs or
                    social networks. MYQR does not have the human and/or
                    technical means to know or control the information and
                    content that appear on third-party websites. Therefore, in
                    no case will MYQR be responsible for the content of the
                    linked sites and under no circumstances may said links be
                    considered effective knowledge of the content of the sites
                    to which they link.
                </p>

                <p class="section">16. DATA PROTECTION</p>
                <p>
                    As established in its Privacy Policy, MYQR undertakes to use
                    User data, to respect its confidentiality and to use it in
                    accordance with the purpose of the treatment, as well as to
                    comply with its obligation to save it. and adapt all
                    measures to avoid alteration, loss, treatment or
                    unauthorized access in accordance with the provisions of
                    current legislation regarding the protection of personal
                    data. The Website incorporates appropriate safeguards and
                    uses industry standard technology to improve the security,
                    integrity, completeness, accuracy and protection of the
                    personal data it has collected, and has established
                    reasonable precautions to protect that information from
                    possible loss or misuse. Its rules on data protection and
                    security are periodically reviewed and improved when
                    necessary, and it strives to ensure that only authorized
                    persons can access the information provided by the User. To
                    learn more about the management and treatment carried out by
                    MYQR of your data, please read our Privacy Policy and our
                    Cookies Policy.
                </p>

                <p class="section">17. DURATION AND MODIFICATION</p>
                <p>
                    These conditions of use will be in force for as long as they
                    are exposed to users, so that as soon as they are totally or
                    partially modified or updated, these conditions will cease
                    to be in force, being the new conditions of use those that
                    go on to regulate the use of the Website. MYQR reserves the
                    right to review, modify or update these conditions of use at
                    any time. In the event of any change in these conditions of
                    use for any reason, MYQR will notify users on the home page
                    of the web about said circumstance so that they are duly
                    informed and can consult the revisions, modifications or
                    updates of the present conditions of use to your
                    satisfaction.
                </p>

                <p class="section">18. GENERAL</p>
                <p>
                    In no case and under no circumstances may the lack of
                    exercise of your rights by MYQR be understood as a waiver of
                    them. The headings contained in these conditions are merely
                    indicative or informative, so that they do not affect,
                    qualify or expand the interpretation thereof. In the event
                    that any of the clauses contained in these conditions were
                    declared null, abusive or unenforceable, totally or
                    partially, by a judicial or administrative body, said
                    declaration will individually affect the clause in question,
                    taking it as not and without the declaration of nullity,
                    abuse or inapplicability being extended under any
                    circumstances to the rest of the conditions, which will
                    subsist. These conditions of use, as well as the Privacy
                    Policy and the Cookies Policy are governed by current
                    Spanish regulations at all times.
                </p>

                <p class="section">19. CUSTOMER SERVICE</p>
                <p>
                    For any clarification, incident or claim, you can contact us
                    through: E-mail: info@myqr.mobi Postal address: C/Rosselló,
                    184, 4-3 Barcelona (08008), Barcelona, Spain.
                </p>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
export default {
    mounted() {
        window.scroll(0, 0);
    },
};
</script>

<style scoped>
.conditions {
    background-color: #cfdde2;
}

.titleConditions {
    text-align: center;
    color: #41778a;
    font-size: 50px;
    font-weight: 700;
    margin-top: 100px;
}

.contentConditions {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 70px 70px 70px 70px;
    color: #878686 !important;
    font-size: 18px !important;
    margin-top: 80px;
    margin-bottom: 90px;
}

.contentConditions ul {
    color: #878686;
    font-size: 18px;
    padding: 0px !important;
    list-style: inside;
}

.contentConditions ul li {
    padding-bottom: 4px !important;
    padding-top: 0px !important;
}

.contentConditions .section {
    color: #41778a;
    font-size: 30px;
    font-weight: 500;
    margin-top: 40px;
}

.contentConditions .subsection {
    color: #41778a;
    font-size: 24px;
    font-weight: 500;
    margin-top: 40px;
}
</style>
