<template>
    <div style="background-color: #41778a; color: #ffffff">
        <b-container fluid style="padding-left: 80px; font-size: 25px">
            <b-row>
                <b-col cols="3" class="colLogo">
                    <img
                        src="https://myqr.mobi/images/footer_logo.png"
                        alt="MyQR logo small"
                    />
                </b-col>
                <b-col cols="2" class="mt-5">
                    <span class="menu-title">Service</span>
                    <ul>
                        <li>Create QR code</li>
                    </ul>
                </b-col>
                <b-col cols="2" class="mt-5">
                    <span class="menu-title">Company</span>
                    <ul class="footerLinks">
                        <li>
                            <router-link :to="{ name: 'prices' }">
                                Prices
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{ name: 'conditions' }">
                                Conditions of use and Contract
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{ name: 'privacy_policy' }">
                                Privacy Policy
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{ name: 'cookie_policy' }">
                                Cookies policy
                            </router-link>
                        </li>
                    </ul>
                </b-col>
                <b-col cols="2" class="mt-5">
                    <span class="menu-title">Help</span>
                    <ul class="footerLinks">
                        <li>
                            <router-link :to="{ name: 'contact_us' }">
                                Contact us
                            </router-link>
                        </li>
                        <li>FAQ</li>
                        <li>Cancel subscription</li>
                    </ul>
                </b-col>
            </b-row>
            <b-row
                class="text-center"
                style="
                    margin-top: 50px;
                    padding-bottom: 50px;
                    font-size: 16px;
                    font-weight: 400;
                "
            >
                <b-col>
                    2022 © MyQR, Spain - ‘QR Code’ is a trademark of DENSO WAVE
                    INCORPORATED
                </b-col>
            </b-row>
        </b-container>
    </div>
</template>

<script>
export default {};
</script>

<style>
.colLogo {
    margin: 100px 120px 80px 40px;
}

.menu-title {
    font-weight: 700;
}

ul {
    list-style: none;

    padding-inline-start: 0px;
    font-size: 22px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
}

ul li {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footerLinks a {
    text-decoration: none !important;
    color: rgba(255, 255, 255, 0.85);
    transition: 0.5s;
}

.footerLinks a:hover {
    color: rgba(255, 255, 255, 0.6) !important;
}
</style>
