<template>
    <b-navbar class="header2" toggleable="lg">
        <b-container fluid style="margin-left: 130px; margin-right: 70px">
            <b-navbar-brand
                href="#"
                style="max-width: 20%; flex: 0 0 18%"
                class="p-0 mr-5"
                @click="$router.push({ name: 'main' })"
            >
                <img
                    src="https://myqr.mobi/images/logo-blue.png"
                    title="MyQR"
                    alt="MyQR logo"
                    width="100"
                />
            </b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav
                    class="text-center"
                    style="font-size: 25px; color: #ffffff !important"
                >
                    <b-nav-item
                        href="#"
                        class="pr-2"
                        style="color: #41778a !important"
                    >
                        Languaje
                    </b-nav-item>
                    <b-nav-item
                        :to="{ name: 'prices' }"
                        class="pr-2 pl-2"
                        style="color: #41778a !important"
                    >
                        Prices
                    </b-nav-item>
                    <b-nav-item href="#" class="pr-2 pl-2">FAQ's</b-nav-item>
                </b-navbar-nav>

                <b-navbar-nav
                    class="ml-auto"
                    style="font-size: 25px; color: #41778a !important"
                >
                    <b-row>
                        <b-col>
                            <b-nav-item href="#" v-b-modal.modal-1
                                >Log In</b-nav-item
                            >
                        </b-col>
                        <b-col>
                            <b-button
                                style="font-size: 25px"
                                class="botonRegistro mt-3"
                                block
                            >
                                Register
                            </b-button>
                        </b-col>
                    </b-row>
                    <b-nav-item href="#"> </b-nav-item>
                </b-navbar-nav>
            </b-collapse>
        </b-container>

        <ModalLogIn />
    </b-navbar>
</template>

<script>
import ModalLogIn from '@/components/auth/ModalLogIn.vue';
export default {
    components: {
        ModalLogIn,
    },
};
</script>

<style scoped>
.header2 .navbar {
    background-color: #ffffff;
    padding: 0px !important;
    min-height: 117px !important;
}

.header2 .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.botonRegistro {
    background-color: #41778a !important;
    border-radius: 10px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
</style>
