<template>
    <b-navbar toggleable="lg">
        <b-container fluid style="margin-left: 130px; margin-right: 70px">
            <b-navbar-brand
                href="#"
                style="max-width: 20%; flex: 0 0 18%"
                class="p-0 mr-5"
                @click="$router.push({ name: 'main' })"
            >
                <img
                    src="https://myqr.mobi/images/logo-blue.png"
                    title="MyQR"
                    alt="MyQR logo"
                    width="100"
                />
            </b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav
                    class="text-center"
                    style="font-size: 25px; color: #ffffff !important"
                >
                    <b-nav-item
                        href="#"
                        class="pr-2"
                        style="color: #ffffff !important"
                    >
                        Languaje
                    </b-nav-item>
                    <b-nav-item
                        :to="{ name: 'prices' }"
                        class="pr-2 pl-2"
                        style="color: #ffffff !important"
                    >
                        Prices
                    </b-nav-item>
                    <b-nav-item href="#" class="pr-2 pl-2">FAQ's</b-nav-item>
                </b-navbar-nav>

                <b-navbar-nav
                    class="ml-auto"
                    style="font-size: 25px; color: #ffffff !important"
                >
                    <b-row>
                        <b-col>
                            <b-nav-item href="#" v-b-modal.modal-1>
                                Log In
                            </b-nav-item>
                        </b-col>
                        <b-col>
                            <b-button
                                style="font-size: 25px"
                                class="botonRegistro mt-3"
                                block
                                v-b-modal.modal-register
                            >
                                Register
                            </b-button>
                        </b-col>
                    </b-row>
                    <b-nav-item href="#"> </b-nav-item>
                </b-navbar-nav>
            </b-collapse>
        </b-container>

        <ModalLogIn @register="$bvModal.show('modal-register')" />
        <ModalRegister @logIn="$bvModal.show('modal-1')" />
    </b-navbar>
</template>

<script>
import ModalLogIn from '@/components/auth/ModalLogIn.vue';
import ModalRegister from '@/components/auth/ModalRegister.vue';
export default {
    components: {
        ModalLogIn,
        ModalRegister,
    },

    mounted() {
        if (this.$route.name == 'main' && this.$route.query.login) {
            this.$bvModal.show('modal-1');
        }
    },
};
</script>

<style scoped>
.navbar {
    background-color: #cfdde2;
    padding: 0px !important;
    min-height: 117px !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.botonRegistro {
    background-color: #41778a !important;
    border-radius: 10px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
</style>
