<template>
    <div>
        <Header2 />
        <main>
            <router-view />
        </main>
        <Footer />
    </div>
</template>

<script>
import Header2 from './Header2.vue';
import Footer from './Footer.vue';
export default {
    components: {
        Header2,
        Footer,
    },
};
</script>

<style></style>
