<template>
    <div>
        <PricesInformation />
        <PricesQuestions />
    </div>
</template>

<script>
import PricesInformation from "@/components/public/prices/PricesInformation";
import PricesQuestions from "@/components/public/prices/PricesQuestions";
export default {
    components: {
        PricesInformation,
        PricesQuestions,
    },

    mounted() {
        window.scroll(0, 0);
    },
};
</script>

<style></style>
