<template>
    <b-container style="margin-top: 90px; margin-bottom: 120px">
        <b-row class="title">
            <b-col style="font-size: 50px">
                <p>
                    <b>Contact form</b>
                </p>
            </b-col>
        </b-row>
        <b-row class="text-center" style="font-size: 20px; color: #41778a">
            <b-col cols="12" md="10" offset-md="1">
                <p>
                    We're here with the help and advice you need to make your
                    idea a reality. When you are ready to get in touch with us,
                    we will be prepared, trained and ready to guide you from the
                    start to success. Fill in the form and our team of
                    professionals will contact you as soon as possible.
                </p>
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
export default {};
</script>

<style></style>
