<template>
    <b-container fluid class="contactFormContainer">
        <b-form @submit.stop.prevent="submit">
            <b-row>
                <b-col class="contactFormCol" cols="12" md="8" offset-md="2">
                    <label
                        class="mt-4"
                        for="name"
                        style="font-size: 18px; font-weight: 400"
                    >
                        Name and surname*
                    </label>
                    <b-form-input
                        v-validate="'required|alpha_spaces'"
                        id="name"
                        name="name"
                        placeholder="E.g Paul Jone"
                        size="lg"
                        v-model="name"
                        :state="validateState('name')"
                    ></b-form-input>
                    <b-form-invalid-feedback id="name-live-feedback">
                        {{ veeErrors.first('name') }}
                    </b-form-invalid-feedback>

                    <label
                        class="mt-4"
                        for="email"
                        style="font-size: 18px; font-weight: 400"
                    >
                        Email address*
                    </label>
                    <b-form-input
                        v-validate="'required|email'"
                        id="email"
                        name="email"
                        type="email"
                        placeholder="name@email.com"
                        size="lg"
                        v-model="email"
                        :state="validateState('email')"
                    ></b-form-input>
                    <b-form-invalid-feedback id="email-live-feedback">
                        {{ veeErrors.first('email') }}
                    </b-form-invalid-feedback>

                    <label
                        class="mt-4"
                        for="subject"
                        style="font-size: 18px; font-weight: 400"
                    >
                        Subject*
                    </label>
                    <b-form-select
                        v-validate="'required'"
                        id="subject"
                        name="subject"
                        placeholder=""
                        size="lg"
                        v-model="subject"
                        :state="validateState('subject')"
                        :options="subjectOptions"
                        value-field="item"
                        text-field="item"
                    ></b-form-select>
                    <b-form-invalid-feedback id="subject-live-feedback">
                        {{ veeErrors.first('subject') }}
                    </b-form-invalid-feedback>

                    <label
                        class="mt-4"
                        for="question"
                        style="font-size: 18px; font-weight: 400"
                    >
                        Question/Enquiry*
                    </label>
                    <b-form-textarea
                        v-validate="'required'"
                        id="question"
                        name="question"
                        placeholder="Write your query here"
                        size="lg"
                        rows="3"
                        no-resize
                        v-model="question"
                        :state="validateState('question')"
                    ></b-form-textarea>
                    <b-form-invalid-feedback id="question-live-feedback">
                        {{ veeErrors.first('question') }}
                    </b-form-invalid-feedback>
                </b-col>
            </b-row>
            <b-row class="text-center">
                <b-col cols="12" md="2" offset-md="5">
                    <b-button
                        type="submit"
                        block
                        class="buttonSend"
                        :disabled="spinner"
                    >
                        <b-spinner v-show="spinner"></b-spinner>
                        <span v-show="!spinner">Send</span>
                    </b-button>
                </b-col>
            </b-row>
        </b-form>
    </b-container>
</template>

<script>
export default {
    data: () => ({
        spinner: false,
        name: null,
        email: null,
        subject: 'Select',
        question: null,
        subjectOptions: [
            { item: 'Select' },
            { item: 'Technical question' },
            { item: 'Administrative question' },
            { item: 'Other' },
        ],
    }),

    methods: {
        validateState(ref) {
            if (
                this.veeFields[ref] &&
                (this.veeFields[ref].dirty || this.veeFields[ref].validated)
            ) {
                return !this.veeErrors.has(ref);
            }
            return null;
        },

        async submit() {
            try {
                const result = await this.$validator.validateAll();
                if (!result) return false;

                this.spinner = true;
                const ruta = `contact_form`;
                const params = {
                    name: this.name,
                    email: this.email,
                    subject: this.subject,
                    question: this.question,
                };
                const response = await this.apiService.post(ruta, params);
                console.log(response);
            } catch (error) {
                console.error(error);
            } finally {
                this.spinner = false;
            }
        },
    },

    mounted() {
        window.scroll(0, 0);
    },
};
</script>

<style>
.contactFormContainer {
    background-color: #cfdde2;
    padding-top: 80px;
    color: #41778a;
}

.contactFormCol {
    background-color: #ffffff !important;
    border-radius: 25px !important;
    padding: 15px 40px 70px 40px !important;
    margin-bottom: 50px !important;
}

.contactFormCol .form-control {
    border: 1px solid #cfdde2;
    border-radius: 10px !important;
}

.contactFormCol .custom-select {
    border: 1px solid #cfdde2;
    border-radius: 10px !important;
}

.contactFormCol .custom-select option {
    padding: 12px 30px !important;
    font-size: 18px !important;
}

.buttonSend {
    background-color: #ffffff !important;
    font-size: 25px !important;
    color: #41778a !important;
    font-weight: 700 !important;
    border-style: none !important;
    border-radius: 12px !important;
    margin-bottom: 80px !important;
}

.buttonSend:hover {
    background-color: #ffffff !important;
    font-size: 25px !important;
    color: #41778a !important;
    font-weight: 700 !important;
    border-style: none !important;
    border-radius: 12px !important;
}
</style>
