<template>
    <div>
        <ContactFormDescription />
        <ContactForm />
    </div>
</template>

<script>
import ContactFormDescription from "@/components/public/contact_form/ContactFormDescription";
import ContactForm from "@/components/public/contact_form/ContactForm";
export default {
    components: {
        ContactFormDescription,
        ContactForm,
    },
};
</script>

<style></style>
